workflows/0wE6UvBq95e3r4nw.json
{
  "active": false,
  "connections": {
    "OpenAI": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Execution Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store2": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI2": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-12T07:48:55.340Z",
  "id": "0wE6UvBq95e3r4nw",
  "isArchived": true,
  "meta": null,
  "name": "AI-Health-Chatbo",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {}
      },
      "id": "02e30984-18c2-4d7e-89af-a2b6d25c19d0",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        400,
        0
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "441e37ec-24f7-4a0c-9289-8aac9b7804a4",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        272,
        240
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "Xfd0MFwxSjT9x3PY",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "id": "dae6de79-1393-4ff9-9bbc-f08656ddbe35",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        448,
        224
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "619d1263-fea3-4197-8e18-7ddb35577903",
      "name": "When chat message received",
      "webhookId": "43d68e8c-80d7-4836-b60f-28b3ae004bf9"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1.1,
      "position": [
        752,
        0
      ],
      "id": "2821bc99-368c-4018-9c13-ca2b9003b545",
      "name": "Execution Data"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "=🔍 Retrieve the top relevant documents for the following query from the Qdrant collection:\n\n**User Query**: {{ $('When chat message received').item.json.chatInput }}\n\n📂 **Collection**: `koderlabs-policies`  \n📌 **Vector Field**: `embedding`  \n🎯 **Top K**: 5  \n🧠 **Similarity Metric**: Cosine  \n\nReturn the `payload.pageContent`  field from the most relevant vectors to serve as context for AI response generation.\n",
        "qdrantCollection": {
          "__rl": true,
          "value": "koderlabs-policies",
          "mode": "list",
          "cachedResultName": "koderlabs-policies"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        752,
        256
      ],
      "id": "59afc495-711b-43aa-bbbd-58562115dde6",
      "name": "Qdrant Vector Store2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        640,
        432
      ],
      "id": "f4b5a7b1-027d-4fdc-9962-f901a69017de",
      "name": "Embeddings OpenAI2"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-08-12T07:48:55.349Z",
      "updatedAt": "2025-08-12T07:48:55.349Z",
      "role": "workflow:owner",
      "workflowId": "0wE6UvBq95e3r4nw",
      "projectId": "POhXKLALTFDZhVtj"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-08-12T07:49:11.000Z",
  "versionId": "8f0232d6-02c1-4d8d-a040-4e67886dfe5c"
}