workflows/blfcGIRKUYn6sGp1.json
{
  "active": false,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get All Users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Users": {
      "main": [
        [
          {
            "node": "If Ezycourse ID Exist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Execution Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Remote Authentication",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remote Authentication": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Find User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Ezycourse ID Exist": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find User": {
      "main": [
        [
          {
            "node": "Cancelled Subscription",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cancelled Subscription": {
      "main": [
        [
          {
            "node": "Mark User INACTIVE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark User INACTIVE": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-03-25T10:17:34.540Z",
  "id": "blfcGIRKUYn6sGp1",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "User Deletion Sync (Remote Auth Check)  - CRON",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 4
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -736,
        -128
      ],
      "id": "f4a77f32-10f4-44d5-b92c-4a745306acb9",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "users",
        "returnAll": true
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -288,
        -128
      ],
      "id": "a8871cdf-683e-46a7-9aed-9fca5bee980e",
      "name": "Get All Users",
      "credentials": {
        "supabaseApi": {
          "id": "fHIqf3ehxKRHCXZs",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.deinegesundheitsschule.de/api/ezycourse/webhooks/remote-user-authentication/f9uMoaS61pMZw9F6bhOmvN-98TODvjqR",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $json.email }}"
            },
            {
              "name": "user_id",
              "value": "={{ $json.ezycourse_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        880,
        -128
      ],
      "id": "3a8b97ee-5581-406a-89fa-34661faf76be",
      "name": "Remote Authentication",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        512,
        -144
      ],
      "id": "1452f2f7-7fe0-4326-9e9d-1c6687788d65",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0a38d70b-9e75-4ad6-9390-dd2038e309d4",
              "leftValue": "={{ $json.ezycourse_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        128,
        -128
      ],
      "id": "9234ede3-5547-4e12-bbe9-e4dd9f865bcc",
      "name": "If Ezycourse ID Exist"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1.1,
      "position": [
        960,
        -448
      ],
      "id": "c1b69d3d-0b2f-418b-bdbd-23ca4e48baf1",
      "name": "Execution Data"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "users",
        "filters": {
          "conditions": [
            {
              "keyName": "ezycourse_id",
              "keyValue": "={{ $json.ezycourse_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1248,
        -112
      ],
      "id": "047b59b9-f8d9-4b5a-815a-dfb68004cf2b",
      "name": "Find User",
      "credentials": {
        "supabaseApi": {
          "id": "fHIqf3ehxKRHCXZs",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "subscriptions",
        "filters": {
          "conditions": [
            {
              "keyName": "email",
              "condition": "eq",
              "keyValue": "={{ $json.email }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "cancelled"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1520,
        -112
      ],
      "id": "a1370f6d-5701-4203-b8d0-105bd515b24b",
      "name": "Cancelled Subscription",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "fHIqf3ehxKRHCXZs",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "users",
        "filters": {
          "conditions": [
            {
              "keyName": "email",
              "condition": "eq",
              "keyValue": "={{ $('Find User').item.json.email }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "active",
              "fieldValue": "false"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1856,
        -112
      ],
      "id": "b0632874-f0a6-478a-98a9-b9221892d7cd",
      "name": "Mark User INACTIVE",
      "credentials": {
        "supabaseApi": {
          "id": "fHIqf3ehxKRHCXZs",
          "name": "Supabase account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2026-03-25T10:17:34.547Z",
      "createdAt": "2026-03-25T10:17:34.547Z",
      "role": "workflow:owner",
      "workflowId": "blfcGIRKUYn6sGp1",
      "projectId": "POhXKLALTFDZhVtj"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-03-25T12:20:31.000Z",
  "versionId": "d3ec11b4-3ddf-4e02-b8d9-af6dc212670b"
}