workflows/FHqyRWx7F86a10uB.json
{
  "active": true,
  "connections": {
    "Received IPN Event From Digistore": {
      "main": [
        [
          {
            "node": "Route By Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route By Event": {
      "main": [
        [
          {
            "node": "Calculate Billing Interval with Product Mapped",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Find Subscription of Missed Payment",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Valid Date for User to Access",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Calculate Billing Interval with Product Mapped1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Find Subscription for Chargeback",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Find Subscription for Refund",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add User Record": {
      "main": [
        [
          {
            "node": "Return User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Subscription": {
      "main": [
        [
          {
            "node": "Record Transaction Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Record Transaction Log": {
      "main": [
        [
          {
            "node": "Process the Input For Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Old Subscription Exist": {
      "main": [
        [
          {
            "node": "Find Old Subscription",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check User in DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Billing Interval with Product Mapped": {
      "main": [
        [
          {
            "node": "If Old Subscription Exist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Old Subscription": {
      "main": [
        [
          {
            "node": "Update Old Subscription",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Old Subscription": {
      "main": [
        [
          {
            "node": "Un-Enroll Student into Product",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Un-Enroll Student into Product": {
      "main": [
        [
          {
            "node": "Find User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "New Subscription": {
      "main": [
        [
          {
            "node": "Enroll Student into Product1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find User": {
      "main": [
        [
          {
            "node": "New Subscription",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enroll Student into Product1": {
      "main": [
        [
          {
            "node": "Record Transaction Log for This",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Record Transaction Log for This": {
      "main": [
        [
          {
            "node": "Map Credit Based on Product2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check User in DB": {
      "main": [
        [
          {
            "node": "If User Exist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If User Exist": {
      "main": [
        [
          {
            "node": "Return User",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add User Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Return User": {
      "main": [
        [
          {
            "node": "Find Subscription - To Check Rebill",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Subscription - To Check Rebill": {
      "main": [
        [
          {
            "node": "If Exist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Exist": {
      "main": [
        [
          {
            "node": "Update Existing Subscription1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add Subscription",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Replaced by Upgrade": {
      "main": [
        [
          {
            "node": "Find If Not Empty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Subscription of Missed Payment": {
      "main": [
        [
          {
            "node": "Update Payment Status & Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Payment Status & Status": {
      "main": [
        [
          {
            "node": "Record Transaction of Missed Payment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find If Not Empty": {
      "main": [
        [],
        []
      ]
    },
    "Enroll Student into Product2": {
      "main": [
        [
          {
            "node": "Get User Quota1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User Quota1": {
      "main": [
        [
          {
            "node": "Map Credit Based on Product1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Credit Based on Product1": {
      "main": [
        [
          {
            "node": "Update Credits1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Subscription Active": {
      "main": [
        [
          {
            "node": "Enroll Student into Product2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Credit Based on Product2": {
      "main": [
        [
          {
            "node": "Update Credits2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find for Free Trial Test": {
      "main": [
        [
          {
            "node": "If Trial Subscription Exist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Trial Subscription Exist": {
      "main": [
        [],
        []
      ]
    },
    "Calculate Billing Interval with Product Mapped1": {
      "main": [
        [
          {
            "node": "Get Current Subscription",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enroll Student into Product": {
      "main": [
        [
          {
            "node": "Get User Quota",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User Quota": {
      "main": [
        [
          {
            "node": "Map Credit Based on Product",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Credit Based on Product": {
      "main": [
        [
          {
            "node": "Update Credits",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Subscription Status": {
      "main": [
        [
          {
            "node": "Calculate Expired",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Current Subscription": {
      "main": [
        [
          {
            "node": "Update Subscription Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Expired": {
      "main": [
        [
          {
            "node": "IF Expired",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Expired": {
      "main": [
        [
          {
            "node": "Enroll Student into Product",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get User Quota2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User Quota2": {
      "main": [
        [
          {
            "node": "Map Credit Based on Product3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Credit Based on Product3": {
      "main": [
        [
          {
            "node": "Update Credits3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Subscription for Refund": {
      "main": [
        [
          {
            "node": "Update Subscription Refund & Valid Until",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Subscription Refund & Valid Until": {
      "main": [
        [
          {
            "node": "Un-Enroll Student into Product1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Un-Enroll Student into Product1": {
      "main": [
        [
          {
            "node": "Record Transaction of Refund",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Valid Date for User to Access": {
      "main": [
        [
          {
            "node": "Record Transaction.",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Subscription for Chargeback": {
      "main": [
        [
          {
            "node": "Update Subscription Chrargeback ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Subscription Chrargeback ": {
      "main": [
        [
          {
            "node": "Un-Enroll Student ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Un-Enroll Student ": {
      "main": [
        [
          {
            "node": "Record Transaction of Chargeback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Existing Subscription": {
      "main": [
        [
          {
            "node": "Record Transaction of Missed Payment1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User Quota3": {
      "main": [
        [
          {
            "node": "Map Credit Based on Product4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Record Transaction of Missed Payment1": {
      "main": [
        [
          {
            "node": "Get User Quota3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Credit Based on Product4": {
      "main": [
        [
          {
            "node": "Update Credits4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Existing Subscription1": {
      "main": [
        [
          {
            "node": "Record Transaction Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process the Input For Switch": {
      "main": [
        [
          {
            "node": "If Subscription Active",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Trial Subscription": {
      "main": [
        [
          {
            "node": "Record Transaction Log1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User Quota4": {
      "main": [
        [
          {
            "node": "Map Credit Based on Product5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Credit Based on Product5": {
      "main": [
        [
          {
            "node": "Update Credits5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Subscription1": {
      "main": [
        [
          {
            "node": "Record Transaction Log1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Record Transaction Log1": {
      "main": [
        [
          {
            "node": "If Subscription Active1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Replaced by Upgrade1": {
      "main": [
        [
          {
            "node": "Find If Not Empty1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find If Not Empty1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Existing Subscription2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enroll Student into Product3": {
      "main": [
        [
          {
            "node": "Get User Quota5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User Quota5": {
      "main": [
        [
          {
            "node": "Map Credit Based on Product6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Credit Based on Product6": {
      "main": [
        [
          {
            "node": "Update Credits6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Subscription Active1": {
      "main": [
        [
          {
            "node": "Enroll Student into Product3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find for Free Trial Test1": {
      "main": [
        [
          {
            "node": "If Trial Subscription Exist1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Trial Subscription Exist1": {
      "main": [
        [
          {
            "node": "Update Trial Subscription",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add Subscription1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Record Transaction of Missed Payment2": {
      "main": [
        [
          {
            "node": "Get User Quota4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Existing Subscription2": {
      "main": [
        [
          {
            "node": "Record Transaction of Missed Payment2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-03-24T12:08:28.707Z",
  "id": "FHqyRWx7F86a10uB",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "TRIAL TEST AUTOMATION",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "get-trial-info",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -3376,
        432
      ],
      "id": "8f95edc4-2ea4-4ab5-b1e3-2fe41e65f18b",
      "name": "Received IPN Event From Digistore",
      "webhookId": "4031a140-541e-47c3-bda4-57d9732bf95f"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.event }}",
                    "rightValue": "payment",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "baced0e0-53ea-4073-bf9a-fd0547cfa5db"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Payment Created"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ef1dc464-e919-4fb5-8028-ba6d716e303c",
                    "leftValue": "={{ $json.body.event }}",
                    "rightValue": "missed recurring payment",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Payment Missed"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "01a19be0-87e9-46d3-8d46-3855de22aa8e",
                    "leftValue": "={{ $json.body.event }}",
                    "rightValue": "rebilling canceled",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Rebill Cancel"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4f0b98f8-3d61-4726-aa09-4a4fe14b146c",
                    "leftValue": "={{ $json.body.event }}",
                    "rightValue": "rebilling resumed",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Rebill Resume"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0020521f-b304-4bf9-899b-0d905f5162a4",
                    "leftValue": "={{ $json.body.event }}",
                    "rightValue": "chargeback",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "On Chargeback"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7406bef6-7611-44f0-87b8-43f9852f3c47",
                    "leftValue": "={{ $json.body.event }}",
                    "rightValue": "refund",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "On Refund"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -2992,
        368
      ],
      "id": "4f280d09-69c6-4217-84b0-687c132a048c",
      "name": "Route By Event"
    },
    {
      "parameters": {
        "tableId": "users",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "email",
              "fieldValue": "={{ $('Calculate Billing Interval with Product Mapped').item.json.email }}"
            },
            {
              "fieldId": "name",
              "fieldValue": "={{ $('Calculate Billing Interval with Product Mapped').item.json.first_name }} {{ $('Calculate Billing Interval with Product Mapped').item.json.last_name }}"
            },
            {
              "fieldId": "role",
              "fieldValue": "user"
            },
            {
              "fieldId": "role_level",
              "fieldValue": "20"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        704,
        544
      ],
      "id": "4ae47003-2a31-4cbf-9418-8a0e424724a1",
      "name": "Add User Record",
      "credentials": {
        "supabaseApi": {
          "id": "fHIqf3ehxKRHCXZs",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "subscriptions",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "order_id",
              "fieldValue": "={{ $('Calculate Billing Interval with Product Mapped').item.json.order_id }}"
            },
            {
              "fieldId": "created_at",
              "fieldValue": "={{ $now }}"
            },
            {
              "fieldId": "product_id",
              "fieldValue": "={{ $('Calculate Billing Interval with Product Mapped').item.json.product_id }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "={{ $('Calculate Billing Interval with Product Mapped').item.json.status }}"
            },
            {
              "fieldId": "email",
              "fieldValue": "={{ $('Calculate Billing Interval with Product Mapped').item.json.email}}"
            },
            {
              "fieldId": "ezycourse_product_id",
              "fieldValue": "={{ $('Calculate Billing Interval with Product Mapped').item.json.ezycourse_product_id }}"
            },
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $('Return User').item.json.user.id }}"
            },
            {
              "fieldId": "billing_interval",
              "fieldValue": "={{ $('Calculate Billing Interval with Product Mapped').item.json.billing_interval }}"
            },
            {
              "fieldId": "valid_until",
              "fieldValue": "={{ $('Calculate Billing Interval with Product Mapped').item.json.valid_until }}"
            },
            {
              "fieldId": "delivery_date",
              "fieldValue": "={{ $('Calculate Billing Interval with Product Mapped').item.json.delivery_date || null }}"
            },
            {
              "fieldId": "amount_credited",
              "fieldValue": "={{ $('Calculate Billing Interval with Product Mapped').item.json.amount_credited }}"
            },
            {
              "fieldId": "next_payment_at",
              "fieldValue": "={{ $('Calculate Billing Interval with Product Mapped').item.json.next_payment_at }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3296,
        1616
      ],
      "id": "bc9bfeaf-4460-4477-ae9c-80ae026200f7",
      "name": "Add Subscription",
      "credentials": {
        "supabaseApi": {
          "id": "fHIqf3ehxKRHCXZs",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "transactions",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "transaction_id",
              "fieldValue": "={{ $('Calculate Billing Interval with Product Mapped').item.json.transaction_id }}"
            },
            {
              "fieldId": "order_id",
              "fieldValue": "={{ $json.order_id }}"
            },
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $json.user_id }}"
            },
            {
              "fieldId": "ipn_payload",
              "fieldValue": "={{ $('Received IPN Event From Digistore').first().json.body }}"
            },
            {
              "fieldId": "amount",
              "fieldValue": "={{ $json.amount_credited }}"
            },
            {
              "fieldId": "event",
              "fieldValue": "={{ $('Received IPN Event From Digistore').first().json.body.event }}"
            },
            {
              "fieldId": "currency",
              "fieldValue": "={{ $('Received IPN Event From Digistore').first().json.body.currency }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        4384,
        1216
      ],
      "id": "a91c2cb6-00ab-4784-b2b5-0057d7e985b9",
      "name": "Record Transaction Log",
      "credentials": {
        "supabaseApi": {
          "id": "fHIqf3ehxKRHCXZs",
          "name": "Supabase account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cb11ca5c-e884-4991-8a01-c552b4a867bd",
              "leftValue": "={{ $json.upgraded_order_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -608,
        160
      ],
      "id": "de8a0008-12ee-491e-b9ca-d210403ccc42",
      "name": "If Old Subscription Exist"
    },
    {
      "parameters": {
        "jsCode": "const ipn = $input.first().json.body;\n\n\nconst productTags = {\n  651441: { \n    monthly: \"BASIS_M_001\", \n    annual: \"BASIS_J_002\", \n    ezycourse_id: { monthly: 4047, annual: 4047 } \n  },\n  670519: { \n    monthly: \"voll_m_001\", \n    annual: \"voll_j_002\",\n    trial: \"voll_m_trial_005\", \n    ezycourse_id: { monthly: 4690, annual: 4690 } \n  }\n};\n\nconst tags = ipn.tags ? ipn.tags.toLowerCase().split(\",\") : [];\n\nlet billing_interval = \"unknown\";\nlet ezycourse_product_id;\n\nconst tagMap = productTags[ipn.product_id];\n\nif (tagMap) {\n    if (tagMap.trial && tags.includes(tagMap.trial.toLowerCase())) {\n        if (Number(ipn.amount_brutto) === 0) {\n            billing_interval = \"monthly\"; // free trial\n        } else {\n            billing_interval = \"monthly\"; // trial converted to paid\n        }\n        ezycourse_product_id = tagMap.ezycourse_id.monthly;\n    } \n    else if (tags.includes(tagMap.monthly.toLowerCase())) {\n        billing_interval = \"monthly\";\n        ezycourse_product_id = tagMap.ezycourse_id.monthly;\n    } \n    else if (tags.includes(tagMap.annual.toLowerCase())) {\n        billing_interval = \"annual\";\n        ezycourse_product_id = tagMap.ezycourse_id.annual;\n    }\n}\n\nconst today = new Date();\nconst valid_until = new Date(today);\n\nif (tagMap?.trial && tags.includes(tagMap.trial.toLowerCase())) {\n    if (Number(ipn.amount_brutto) === 0) {\n        // Free trial\n        valid_until.setDate(valid_until.getDate() + 14);\n    } else {\n        valid_until.setMonth(valid_until.getMonth() + 1);\n    }\n} else {\n    if (billing_interval === \"monthly\") valid_until.setMonth(valid_until.getMonth() + 1);\n    if (billing_interval === \"annual\") valid_until.setFullYear(valid_until.getFullYear() + 1);\n}\n\n// Format date helper\nconst formatDate = (d) => d.toISOString().split(\"T\")[0];\n\n// Build output object\nconst output = {\n    email: ipn.email,\n    first_name: ipn.first_name,\n    last_name: ipn.last_name,\n    order_id: ipn.order_id,\n    transaction_id: ipn.transaction_id,\n    product_id: ipn.product_id,\n    product_name: ipn.product_name,\n    amount_brutto: Number(ipn.amount_brutto),\n    currency: ipn.currency,\n    billing_interval,\n    valid_until: formatDate(valid_until),\n    next_payment_at: formatDate(valid_until),\n    amount_credited: Number(ipn.amount_brutto),\n    ezycourse_product_id,\n    quota_reset_date: formatDate(valid_until) // reset quota for trial users\n};\n\nif (ipn.upgraded_order_id) output.upgraded_order_id = ipn.upgraded_order_id;\nif (ipn.delivery_date) output.delivery_date = ipn.delivery_date;\nif (ipn.upgrade_type) output.upgrade_type = ipn.upgrade_type;\n\nif (tagMap?.trial && tags.includes(tagMap.trial.toLowerCase()) && Number(ipn.amount_brutto) === 0) {\n    output.status = \"trial\";\n} else if (ipn.delivery_date && new Date(ipn.delivery_date) > today) {\n    output.status = \"scheduled\";\n} else {\n    output.status = \"active\";\n}\n\nreturn [{ json: output }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -944,
        160
      ],
      "id": "97513f93-351b-45e1-a412-e3245f93b59d",
      "name": "Calculate Billing Interval with Product Mapped"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "subscriptions",
        "filters": {
          "conditions": [
            {
              "keyName": "order_id",
              "keyValue": "={{ $json.upgraded_order_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        16,
        -240
      ],
      "id": "309d01bf-2ec0-4ff7-824e-3f1bdcd11cdf",
      "name": "Find Old Subscription",
      "credentials": {
        "supabaseApi": {
          "id": "fHIqf3ehxKRHCXZs",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "subscriptions",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "upgrade_type",
              "fieldValue": "={{ $('If Old Subscription Exist').item.json.upgrade_type }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "cancelled"
            },
            {
              "fieldId": "upgraded_order_id",
              "fieldValue": "={{ $('Calculate Billing Interval with Product Mapped').item.json.upgraded_order_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        304,
        -240
      ],
      "id": "5eeecbbe-6812-4e7f-84ea-799ae10bb6e8",
      "name": "Update Old Subscription",
      "credentials": {
        "supabaseApi": {
          "id": "fHIqf3ehxKRHCXZs",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.deinegesundheitsschule.de/api/ezycourse/webhooks/delete-product-enrollment/f9uMoaS61pMZw9F6bhOmvN-98TODvjqR",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $json.email }}"
            },
            {
              "name": "product_id",
              "value": "={{ $json.ezycourse_product_id }}"
            },
            {
              "name": "product_type",
              "value": "membership"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        576,
        -240
      ],
      "id": "4aa9de6f-8aee-46fd-b089-2718089c14ed",
      "name": "Un-Enroll Student into Product",
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "tableId": "subscriptions",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "order_id",
              "fieldValue": "={{ $('Calculate Billing Interval with Product Mapped').item.json.order_id }}"
            },
            {
              "fieldId": "created_at",
              "fieldValue": "={{ $now }}"
            },
            {
              "fieldId": "product_id",
              "fieldValue": "={{ $('Calculate Billing Interval with Product Mapped').item.json.product_id }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "={{ $('Calculate Billing Interval with Product Mapped').item.json.status }}"
            },
            {
              "fieldId": "email",
              "fieldValue": "={{ $('Calculate Billing Interval with Product Mapped').item.json.email }}"
            },
            {
              "fieldId": "ezycourse_product_id",
              "fieldValue": "={{ $('Calculate Billing Interval with Product Mapped').item.json.ezycourse_product_id }}"
            },
            {
              "fieldId": "billing_interval",
              "fieldValue": "={{ $('Calculate Billing Interval with Product Mapped').item.json.billing_interval }}"
            },
            {
              "fieldId": "valid_until",
              "fieldValue": "={{ $('Calculate Billing Interval with Product Mapped').item.json.valid_until }}"
            },
            {
              "fieldId": "delivery_date",
              "fieldValue": "={{ $('Calculate Billing Interval with Product Mapped').item.json.delivery_date || null }}"
            },
            {
              "fieldId": "amount_credited",
              "fieldValue": "={{ $('Calculate Billing Interval with Product Mapped').item.json.amount_credited }}"
            },
            {
              "fieldId": "next_payment_at",
              "fieldValue": "={{ $('Calculate Billing Interval with Product Mapped').item.json.next_payment_at }}"
            },
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $json.id }}"
            },
            {
              "fieldId": "upgraded_order_id",
              "fieldValue": "={{ $('Calculate Billing Interval with Product Mapped').item.json.upgraded_order_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1424,
        -240
      ],
      "id": "48d17d18-30f5-4188-8297-bc4fe83c391d",
      "name": "New Subscription",
      "credentials": {
        "supabaseApi": {
          "id": "fHIqf3ehxKRHCXZs",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "users",
        "filters": {
          "conditions": [
            {
              "keyName": "email",
              "keyValue": "={{ $('Calculate Billing Interval with Product Mapped').item.json.email }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1040,
        -240
      ],
      "id": "9056335c-5ffa-475a-b28f-ee6c8ed1163c",
      "name": "Find User",
      "credentials": {
        "supabaseApi": {
          "id": "fHIqf3ehxKRHCXZs",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.deinegesundheitsschule.de/api/ezycourse/webhooks/create-product-enrollment/f9uMoaS61pMZw9F6bhOmvN-98TODvjqR",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $json.email }}"
            },
            {
              "name": "product_id",
              "value": "={{ $json.ezycourse_product_id }}"
            },
            {
              "name": "product_type",
              "value": "membership"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1792,
        -240
      ],
      "id": "79084e92-e174-479b-9841-4602eecb1bfd",
      "name": "Enroll Student into Product1"
    },
    {
      "parameters": {
        "tableId": "transactions",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "transaction_id",
              "fieldValue": "={{ $('Calculate Billing Interval with Product Mapped').item.json.transaction_id }}"
            },
            {
              "fieldId": "order_id",
              "fieldValue": "={{ $('New Subscription').item.json.order_id }}"
            },
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $('New Subscription').item.json.user_id }}"
            },
            {
              "fieldId": "ipn_payload",
              "fieldValue": "={{ $('Received IPN Event From Digistore').first().json.body }}"
            },
            {
              "fieldId": "amount",
              "fieldValue": "={{ $('New Subscription').item.json.amount_credited }}"
            },
            {
              "fieldId": "event",
              "fieldValue": "={{ $('Received IPN Event From Digistore').first().json.body.event }}"
            },
            {
              "fieldId": "currency",
              "fieldValue": "={{ $('Received IPN Event From Digistore').first().json.body.currency }}"
            },
            {
              "fieldId": "ipn_payload",
              "fieldValue": "={{ $('Received IPN Event From Digistore').first().json.body }}"
            },
            {
              "fieldId": "currency",
              "fieldValue": "={{ $('Received IPN Event From Digistore').first().json.body.currency }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2064,
        -240
      ],
      "id": "4afb5517-b9ae-494a-b52e-3296f9d6719c",
      "name": "Record Transaction Log for This",
      "credentials": {
        "supabaseApi": {
          "id": "fHIqf3ehxKRHCXZs",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "users",
        "filters": {
          "conditions": [
            {
              "keyName": "email",
              "keyValue": "={{ $('Calculate Billing Interval with Product Mapped').item.json.email }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        16,
        416
      ],
      "id": "277e7172-1b94-4cd9-bab7-4b7780bb0dee",
      "name": "Check User in DB",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "fHIqf3ehxKRHCXZs",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "96022c55-4064-40f4-a419-b5bf6a8d6a3a",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        304,
        416
      ],
      "id": "8f95ed2d-7c71-4099-87d8-cb57304c5801",
      "name": "If User Exist"
    },
    {
      "parameters": {
        "jsCode": "const user = $input.first().json\n\nreturn {\n  user\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1408,
        400
      ],
      "id": "3678cc93-b013-47dd-8c8f-c83a44dabc7a",
      "name": "Return User"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "subscriptions",
        "filters": {
          "conditions": [
            {
              "keyName": "order_id",
              "keyValue": "={{ $('Calculate Billing Interval with Product Mapped').item.json.order_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1808,
        400
      ],
      "id": "1f4ec7a1-d5a6-4071-8937-b7a9e890c884",
      "name": "Find Subscription - To Check Rebill",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "fHIqf3ehxKRHCXZs",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7007c698-1fca-48b0-a385-514a3351d0e9",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2096,
        400
      ],
      "id": "773d52a1-10b9-4ddb-8880-dbe41c5ba37b",
      "name": "If Exist"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "subscriptions",
        "filters": {
          "conditions": [
            {
              "keyName": "order_id",
              "condition": "eq",
              "keyValue": "={{ $('If Exist').item.json.order_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "next_payment_at",
              "fieldValue": "={{ $('Calculate Billing Interval with Product Mapped').item.json.next_payment_at }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "active"
            },
            {
              "fieldId": "valid_until",
              "fieldValue": "={{ $('Calculate Billing Interval with Product Mapped').item.json.valid_until }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        4192,
        -768
      ],
      "id": "223fffac-4c74-4a49-a86c-67d996fba9c0",
      "name": "Update Existing Subscription",
      "credentials": {
        "supabaseApi": {
          "id": "fHIqf3ehxKRHCXZs",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3840,
        -112
      ],
      "id": "704b5877-daa0-4d26-a299-587ab9f3e69c",
      "name": "No Operation, do nothing1",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "subscriptions",
        "filters": {
          "conditions": [
            {
              "keyName": "upgraded_order_id",
              "keyValue": "={{ $json.order_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3232,
        -128
      ],
      "id": "12cea59f-258f-4b94-bfff-1b218e4532b7",
      "name": "Check if Replaced by Upgrade",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "fHIqf3ehxKRHCXZs",
          "name": "Supabase account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "subscriptions",
        "filters": {
          "conditions": [
            {
              "keyName": "order_id",
              "keyValue": "={{ $json.body.order_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -976,
        592
      ],
      "id": "29dcf54e-f98a-4875-b150-94feb8f4ae64",
      "name": "Find Subscription of Missed Payment",
      "credentials": {
        "supabaseApi": {
          "id": "fHIqf3ehxKRHCXZs",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "subscriptions",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "payment_missed_at",
              "fieldValue": "={{ new Date($now).toDateTime().format('yyyy-MM-dd') }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "past_due"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -640,
        592
      ],
      "id": "b1960904-c6a0-4e1d-8b8b-c30151063f1c",
      "name": "Update Payment Status & Status",
      "credentials": {
        "supabaseApi": {
          "id": "fHIqf3ehxKRHCXZs",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8c79e24f-1086-4fcd-b863-63c2fc844201",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3616,
        -128
      ],
      "id": "872db5f2-8eb1-4f17-bebb-e4d1998e06d4",
      "name": "Find If Not Empty",
      "disabled": true
    },
    {
      "parameters": {
        "tableId": "transactions",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "transaction_id",
              "fieldValue": "={{ $('Received IPN Event From Digistore').item.json.body.transaction_id }}"
            },
            {
              "fieldId": "currency",
              "fieldValue": "={{ $('Received IPN Event From Digistore').item.json.body.currency }}"
            },
            {
              "fieldId": "amount",
              "fieldValue": "={{ $('Received IPN Event From Digistore').item.json.body.amount_brutto }}"
            },
            {
              "fieldId": "event",
              "fieldValue": "={{ $('Received IPN Event From Digistore').item.json.body.event }}"
            },
            {
              "fieldId": "order_id",
              "fieldValue": "={{ $('Received IPN Event From Digistore').item.json.body.order_id }}"
            },
            {
              "fieldId": "ipn_payload",
              "fieldValue": "={{ $('Received IPN Event From Digistore').item.json.body }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -304,
        592
      ],
      "id": "96b2cf93-fde0-412a-b49c-6bf862e4a31a",
      "name": "Record Transaction of Missed Payment",
      "credentials": {
        "supabaseApi": {
          "id": "fHIqf3ehxKRHCXZs",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "subscriptions",
        "filters": {
          "conditions": [
            {
              "keyName": "order_id",
              "condition": "eq",
              "keyValue": "={{ $json.body.order_id }}"
            },
            {
              "keyName": "status",
              "condition": "eq",
              "keyValue": "active"
            },
            {
              "keyName": "status",
              "condition": "eq",
              "keyValue": "trial"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "valid_until",
              "fieldValue": "={{ $json.body.is_cancelled_for }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "cancelled"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -992,
        912
      ],
      "id": "d8f2bd24-fd9a-4a64-a7bd-c3be9c4e9c70",
      "name": "Update Valid Date for User to Access",
      "credentials": {
        "supabaseApi": {
          "id": "fHIqf3ehxKRHCXZs",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.deinegesundheitsschule.de/api/ezycourse/webhooks/create-product-enrollment/f9uMoaS61pMZw9F6bhOmvN-98TODvjqR",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $json.subscription.email }}"
            },
            {
              "name": "product_id",
              "value": "={{ $json.subscription.ezycourse_product_id }}"
            },
            {
              "name": "product_type",
              "value": "membership"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        5248,
        1200
      ],
      "id": "a35bd03b-ffd6-422d-8c11-29c90f087b53",
      "name": "Enroll Student into Product2",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "users",
        "filters": {
          "conditions": [
            {
              "keyName": "email",
              "keyValue": "={{ $('Process the Input For Switch').item.json.subscription.email }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        5568,
        1200
      ],
      "id": "09ca5c38-4db1-4566-81f1-24995b41b517",
      "name": "Get User Quota1",
      "credentials": {
        "supabaseApi": {
          "id": "fHIqf3ehxKRHCXZs",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let ez_product_id = $('Process the Input For Switch').first().json.subscription.ezycourse_product_id\n\nlet quota = 0\n\nif(ez_product_id == 4047) {\n  quota = 20\n} else if (ez_product_id == 4690) {\n  quota = \t60\n}\n\n\n\nreturn {\n  quota\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5888,
        1200
      ],
      "id": "a17414f0-c765-438f-b73d-e6778122f939",
      "name": "Map Credit Based on Product1"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "users",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Get User Quota1').item.json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "quota",
              "fieldValue": "={{ $('Map Credit Based on Product1').item.json.quota }}"
            },
            {
              "fieldId": "quota_reset_date",
              "fieldValue": "={{ new Date(new Date($now).getFullYear(), new Date($now).getMonth() + 1, 1).toLocaleDateString('en-CA') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        6256,
        1200
      ],
      "id": "940064f4-d4fd-4bb1-81a2-85562585302d",
      "name": "Update Credits1",
      "credentials": {
        "supabaseApi": {
          "id": "fHIqf3ehxKRHCXZs",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b2b51c38-1d19-47bc-8a50-d33638f8568d",
              "leftValue": "={{ $json.subscription.status }}",
              "rightValue": "active",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "c65570bd-8960-4a92-9dfd-a29927572235",
              "leftValue": "={{ $json.subscription.status }}",
              "rightValue": "trial",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4912,
        1216
      ],
      "id": "e6d7a335-8741-4933-b991-b36e7f997ce4",
      "name": "If Subscription Active"
    },
    {
      "parameters": {
        "jsCode": "let ez_product_id = $('Calculate Billing Interval with Product Mapped').item.json.ezycourse_product_id\n\nlet quota = 0\n\nif(ez_product_id == 4047) {\n  quota = 20\n} else if (ez_product_id == 4690) {\n  quota = \t60\n}\n\n\n\nreturn {\n  quota\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2448,
        -240
      ],
      "id": "79161585-0d10-46f7-b3d0-3a09fd3541ce",
      "name": "Map Credit Based on Product2"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "users",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Find User').item.json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "quota",
              "fieldValue": "={{ $('Map Credit Based on Product2').item.json.quota }}"
            },
            {
              "fieldId": "quota_reset_date",
              "fieldValue": "={{ new Date(new Date($now).getFullYear(), new Date($now).getMonth() + 1, 1).toLocaleDateString('en-CA') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2896,
        -240
      ],
      "id": "95b90def-a867-47af-8358-4b48740c48d6",
      "name": "Update Credits2",
      "credentials": {
        "supabaseApi": {
          "id": "fHIqf3ehxKRHCXZs",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "subscriptions",
        "filters": {
          "conditions": [
            {
              "keyName": "order_id",
              "keyValue": "={{ $('Calculate Billing Interval with Product Mapped').item.json.order_id }}"
            },
            {
              "keyName": "status",
              "keyValue": "trial"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        4784,
        -464
      ],
      "id": "9343e4d6-3b21-4c1d-8c55-bc0a9fb49119",
      "name": "Find for Free Trial Test",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "fHIqf3ehxKRHCXZs",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7007c698-1fca-48b0-a385-514a3351d0e9",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        5200,
        32
      ],
      "id": "2e2ceb5b-c985-45a7-b914-878acf0a1ab8",
      "name": "If Trial Subscription Exist"
    },
    {
      "parameters": {
        "jsCode": "const ipn = $input.first().json.body;\n\n\nconst productTags = {\n  651441: { \n    monthly: \"BASIS_M_001\", \n    annual: \"BASIS_J_002\", \n    ezycourse_id: { monthly: 4047, annual: 4047 } \n  },\n  670519: { \n    monthly: \"voll_m_001\", \n    annual: \"voll_j_002\",\n    trial: \"voll_m_trial_005\", \n    ezycourse_id: { monthly: 4690, annual: 4690 } \n  }\n};\n\nconst tags = ipn.tags ? ipn.tags.toLowerCase().split(\",\") : [];\n\nlet billing_interval = \"unknown\";\nlet ezycourse_product_id;\n\nconst tagMap = productTags[ipn.product_id];\n\nif (tagMap) {\n    if (tagMap.trial && tags.includes(tagMap.trial.toLowerCase())) {\n        if (Number(ipn.amount_brutto) === 0) {\n            billing_interval = \"monthly\"; // free trial\n        } else {\n            billing_interval = \"monthly\"; // trial converted to paid\n        }\n        ezycourse_product_id = tagMap.ezycourse_id.monthly;\n    } \n    else if (tags.includes(tagMap.monthly.toLowerCase())) {\n        billing_interval = \"monthly\";\n        ezycourse_product_id = tagMap.ezycourse_id.monthly;\n    } \n    else if (tags.includes(tagMap.annual.toLowerCase())) {\n        billing_interval = \"annual\";\n        ezycourse_product_id = tagMap.ezycourse_id.annual;\n    }\n}\n\nconst today = new Date();\nconst valid_until = new Date(today);\n\nif (tagMap?.trial && tags.includes(tagMap.trial.toLowerCase())) {\n    if (Number(ipn.amount_brutto) === 0) {\n        // Free trial\n        valid_until.setDate(valid_until.getDate() + 14);\n    } else {\n        valid_until.setMonth(valid_until.getMonth() + 1);\n    }\n} else {\n    if (billing_interval === \"monthly\") valid_until.setMonth(valid_until.getMonth() + 1);\n    if (billing_interval === \"annual\") valid_until.setFullYear(valid_until.getFullYear() + 1);\n}\n\n// Format date helper\nconst formatDate = (d) => d.toISOString().split(\"T\")[0];\n\n// Build output object\nconst output = {\n    email: ipn.email,\n    first_name: ipn.first_name,\n    last_name: ipn.last_name,\n    order_id: ipn.order_id,\n    transaction_id: ipn.transaction_id,\n    product_id: ipn.product_id,\n    product_name: ipn.product_name,\n    amount_brutto: Number(ipn.amount_brutto),\n    currency: ipn.currency,\n    billing_interval,\n    valid_until: formatDate(valid_until),\n    next_payment_at: formatDate(valid_until),\n    amount_credited: Number(ipn.amount_brutto),\n    ezycourse_product_id,\n    quota_reset_date: formatDate(valid_until) // reset quota for trial users\n};\n\nif (ipn.upgraded_order_id) output.upgraded_order_id = ipn.upgraded_order_id;\nif (ipn.delivery_date) output.delivery_date = ipn.delivery_date;\nif (ipn.upgrade_type) output.upgrade_type = ipn.upgrade_type;\n\nif (tagMap?.trial && tags.includes(tagMap.trial.toLowerCase()) && Number(ipn.amount_brutto) === 0) {\n    output.status = \"trial\";\n} else if (ipn.delivery_date && new Date(ipn.delivery_date) > today) {\n    output.status = \"scheduled\";\n} else {\n    output.status = \"active\";\n}\n\nreturn [{ json: output }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1328,
        1312
      ],
      "id": "f92a28f5-9f01-444d-8fba-9b3a9552c677",
      "name": "Calculate Billing Interval with Product Mapped1"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "subscriptions",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "valid_until",
              "fieldValue": "={{ $json.valid_until }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "active"
            },
            {
              "fieldId": "order_id",
              "fieldValue": "={{ $json.order_id }}"
            },
            {
              "fieldId": "ezycourse_product_id",
              "fieldValue": "={{ $json.ezycourse_product_id }}"
            },
            {
              "fieldId": "billing_interval",
              "fieldValue": "={{ $json.billing_interval }}"
            },
            {
              "fieldId": "next_payment_at",
              "fieldValue": "={{ $json.next_payment_at }}"
            },
            {
              "fieldId": "payment_missed_at",
              "fieldValue": "={{ null }}"
            },
            {
              "fieldId": "amount_credited",
              "fieldValue": "={{ $json.amount_brutto }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -496,
        1312
      ],
      "id": "f425a2fc-a3f4-4f1a-98bb-fc518bede5e3",
      "name": "Update Subscription Status",
      "credentials": {
        "supabaseApi": {
          "id": "fHIqf3ehxKRHCXZs",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.deinegesundheitsschule.de/api/ezycourse/webhooks/create-product-enrollment/f9uMoaS61pMZw9F6bhOmvN-98TODvjqR",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $json.email }}"
            },
            {
              "name": "product_id",
              "value": "={{ $json.product_id }}"
            },
            {
              "name": "product_type",
              "value": "membership"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        544,
        1296
      ],
      "id": "2a3db15f-a24c-4002-9c4e-26fd2fe92c91",
      "name": "Enroll Student into Product",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "users",
        "filters": {
          "conditions": [
            {
              "keyName": "email",
              "keyValue": "={{ $('Update Subscription Status').item.json.email }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        784,
        1296
      ],
      "id": "dffa33bb-69a1-40c0-be44-6db57962d838",
      "name": "Get User Quota",
      "credentials": {
        "supabaseApi": {
          "id": "fHIqf3ehxKRHCXZs",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let ez_product_id = $('Update Subscription Status').first().json.ezycourse_product_id\n\nlet quota = 0\n\nif(ez_product_id == 4047) {\n  quota = 20\n} else if (ez_product_id == 4690) {\n  quota = \t60\n}\n\n\n\nreturn {\n  quota\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1088,
        1296
      ],
      "id": "ca1e6d6b-7c04-418b-b799-b4ec289fae06",
      "name": "Map Credit Based on Product"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "users",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Get User Quota').item.json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "quota",
              "fieldValue": "={{ $('Map Credit Based on Product').item.json.quota }}"
            },
            {
              "fieldId": "quota_reset_date",
              "fieldValue": "={{ new Date(new Date($now).getFullYear(), new Date($now).getMonth() + 1, 1).toLocaleDateString('en-CA') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1312,
        1296
      ],
      "id": "aa0b5831-0995-4ce5-b8b3-9f2451cd93da",
      "name": "Update Credits",
      "credentials": {
        "supabaseApi": {
          "id": "fHIqf3ehxKRHCXZs",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "subscriptions",
        "filters": {
          "conditions": [
            {
              "keyName": "order_id",
              "keyValue": "={{ $json.order_id }}"
            },
            {
              "keyName": "status",
              "keyValue": "cancelled"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -944,
        1312
      ],
      "id": "d736b3ed-321a-48ee-9be3-51c65ee70b6c",
      "name": "Get Current Subscription",
      "credentials": {
        "supabaseApi": {
          "id": "fHIqf3ehxKRHCXZs",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let currentSubscription = $('Get Current Subscription').first().json;\n\nif (\n  (currentSubscription.status === \"suspended\" || currentSubscription.status === \"cancelled\") &&\n  new Date(currentSubscription.valid_until) < new Date()\n) {\n  return {\n    isExpired: true\n  };\n} else {\n  return {\n    isExpired: false\n  };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -144,
        1312
      ],
      "id": "969ffcbd-881c-4cb3-b6a3-f91908577e81",
      "name": "Calculate Expired"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "1b715bb2-2df2-4cb8-89ad-ef500dc31f8f",
              "leftValue": "={{ $json.isExpired }}",
              "rightValue": "=true",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        112,
        1312
      ],
      "id": "e32f1221-bf91-48e0-bc44-03e9472e9c2e",
      "name": "IF Expired"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "users",
        "filters": {
          "conditions": [
            {
              "keyName": "email",
              "keyValue": "={{ $('Update Subscription Status').item.json.email }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        576,
        1536
      ],
      "id": "70fc59e7-9221-4a4f-8fbc-90e82f95dab3",
      "name": "Get User Quota2",
      "credentials": {
        "supabaseApi": {
          "id": "fHIqf3ehxKRHCXZs",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let ez_product_id = $('Update Subscription Status').first().json.ezycourse_product_id\n\nlet quota = 0\n\nif(ez_product_id == 4047) {\n  quota = 20\n} else if (ez_product_id == 4690) {\n  quota = \t60\n}\n\n\n\nreturn {\n  quota\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        816,
        1536
      ],
      "id": "8187f3b1-eb7b-4122-aa8c-2f30a6f2acc2",
      "name": "Map Credit Based on Product3"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "users",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Get User Quota2').item.json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "quota",
              "fieldValue": "={{ $('Map Credit Based on Product3').item.json.quota }}"
            },
            {
              "fieldId": "quota_reset_date",
              "fieldValue": "={{ new Date(new Date($now).getFullYear(), new Date($now).getMonth() + 1, 1).toLocaleDateString('en-CA') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1344,
        1536
      ],
      "id": "f8c22c10-b499-46a1-bffd-cd465a7bb556",
      "name": "Update Credits3",
      "credentials": {
        "supabaseApi": {
          "id": "fHIqf3ehxKRHCXZs",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "subscriptions",
        "filters": {
          "conditions": [
            {
              "keyName": "order_id",
              "keyValue": "={{ $json.body.order_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1472,
        2432
      ],
      "id": "06893ae3-2176-4044-9d2a-84763820c5cb",
      "name": "Find Subscription for Refund",
      "credentials": {
        "supabaseApi": {
          "id": "fHIqf3ehxKRHCXZs",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "subscriptions",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "refunded"
            },
            {
              "fieldId": "valid_until",
              "fieldValue": "={{ new Date($now).toDateTime().format('yyyy-MM-dd') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1104,
        2432
      ],
      "id": "b2adc536-3c81-41ef-9578-e8703d7ace02",
      "name": "Update Subscription Refund & Valid Until",
      "credentials": {
        "supabaseApi": {
          "id": "fHIqf3ehxKRHCXZs",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.deinegesundheitsschule.de/api/ezycourse/webhooks/delete-product-enrollment/f9uMoaS61pMZw9F6bhOmvN-98TODvjqR",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $json.email }}"
            },
            {
              "name": "product_id",
              "value": "={{ $json.ezycourse_product_id }}"
            },
            {
              "name": "product_type",
              "value": "membership"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -672,
        2432
      ],
      "id": "9d6789bd-e156-470e-bb80-f5e25b291224",
      "name": "Un-Enroll Student into Product1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "tableId": "transactions",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "transaction_id",
              "fieldValue": "={{ $('Received IPN Event From Digistore').item.json.body.transaction_id }}"
            },
            {
              "fieldId": "currency",
              "fieldValue": "={{ $('Received IPN Event From Digistore').item.json.body.currency }}"
            },
            {
              "fieldId": "amount",
              "fieldValue": "={{ $('Received IPN Event From Digistore').item.json.body.amount_brutto }}"
            },
            {
              "fieldId": "event",
              "fieldValue": "={{ $('Received IPN Event From Digistore').item.json.body.event }}"
            },
            {
              "fieldId": "order_id",
              "fieldValue": "={{ $('Received IPN Event From Digistore').item.json.body.order_id }}"
            },
            {
              "fieldId": "ipn_payload",
              "fieldValue": "={{ $('Received IPN Event From Digistore').item.json.body }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -624,
        912
      ],
      "id": "074024d4-c472-45eb-a687-1d57de7fa3f2",
      "name": "Record Transaction.",
      "credentials": {
        "supabaseApi": {
          "id": "fHIqf3ehxKRHCXZs",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "subscriptions",
        "filters": {
          "conditions": [
            {
              "keyName": "order_id",
              "keyValue": "={{ $json.body.order_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1456,
        1968
      ],
      "id": "d8de82f1-d256-426c-9c2e-021a5096d998",
      "name": "Find Subscription for Chargeback",
      "credentials": {
        "supabaseApi": {
          "id": "fHIqf3ehxKRHCXZs",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "subscriptions",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "chargeback"
            },
            {
              "fieldId": "valid_until",
              "fieldValue": "={{ new Date($now).toDateTime().format('yyyy-MM-dd') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1088,
        1968
      ],
      "id": "da17e252-5334-4bb2-a20a-7d1e918b1ae7",
      "name": "Update Subscription Chrargeback ",
      "credentials": {
        "supabaseApi": {
          "id": "fHIqf3ehxKRHCXZs",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.deinegesundheitsschule.de/api/ezycourse/webhooks/delete-product-enrollment/f9uMoaS61pMZw9F6bhOmvN-98TODvjqR",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $json.email }}"
            },
            {
              "name": "product_id",
              "value": "={{ $json.ezycourse_product_id }}"
            },
            {
              "name": "product_type",
              "value": "membership"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -656,
        1968
      ],
      "id": "a9d3333c-57d4-49f1-969f-cdd6a56427f7",
      "name": "Un-Enroll Student ",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "tableId": "transactions",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "transaction_id",
              "fieldValue": "={{ $('Received IPN Event From Digistore').item.json.body.transaction_id }}"
            },
            {
              "fieldId": "currency",
              "fieldValue": "={{ $('Received IPN Event From Digistore').item.json.body.currency }}"
            },
            {
              "fieldId": "amount",
              "fieldValue": "={{ $('Received IPN Event From Digistore').item.json.body.amount_brutto }}"
            },
            {
              "fieldId": "event",
              "fieldValue": "={{ $('Received IPN Event From Digistore').item.json.body.event }}"
            },
            {
              "fieldId": "order_id",
              "fieldValue": "={{ $('Received IPN Event From Digistore').item.json.body.order_id }}"
            },
            {
              "fieldId": "ipn_payload",
              "fieldValue": "={{ $('Received IPN Event From Digistore').item.json.body }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -272,
        1968
      ],
      "id": "29db62e3-fbe9-4812-aabe-d645f0db4388",
      "name": "Record Transaction of Chargeback",
      "credentials": {
        "supabaseApi": {
          "id": "fHIqf3ehxKRHCXZs",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "transactions",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "transaction_id",
              "fieldValue": "={{ $('Received IPN Event From Digistore').item.json.body.transaction_id }}"
            },
            {
              "fieldId": "currency",
              "fieldValue": "={{ $('Received IPN Event From Digistore').item.json.body.currency }}"
            },
            {
              "fieldId": "amount",
              "fieldValue": "={{ $('Received IPN Event From Digistore').item.json.body.amount_brutto }}"
            },
            {
              "fieldId": "event",
              "fieldValue": "={{ $('Received IPN Event From Digistore').item.json.body.event }}"
            },
            {
              "fieldId": "order_id",
              "fieldValue": "={{ $('Received IPN Event From Digistore').item.json.body.order_id }}"
            },
            {
              "fieldId": "ipn_payload",
              "fieldValue": "={{ $('Received IPN Event From Digistore').item.json.body }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -288,
        2432
      ],
      "id": "5bda71f2-3977-4430-83c6-ad439b97ff67",
      "name": "Record Transaction of Refund",
      "credentials": {
        "supabaseApi": {
          "id": "fHIqf3ehxKRHCXZs",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "users",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Get User Quota3').item.json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "quota",
              "fieldValue": "={{ $('Map Credit Based on Product4').item.json.quota }}"
            },
            {
              "fieldId": "quota_reset_date",
              "fieldValue": "={{ new Date(new Date($now).getFullYear(), new Date($now).getMonth() + 1, 1).toLocaleDateString('en-CA') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        5488,
        -768
      ],
      "id": "89e6365a-380d-4111-be04-6b804d95d439",
      "name": "Update Credits4",
      "credentials": {
        "supabaseApi": {
          "id": "fHIqf3ehxKRHCXZs",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "users",
        "filters": {
          "conditions": [
            {
              "keyName": "email",
              "keyValue": "={{ $('Update Existing Subscription').item.json.email }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        4928,
        -768
      ],
      "id": "ea6ccd8c-e41f-4b64-9db5-14c99941aea1",
      "name": "Get User Quota3",
      "credentials": {
        "supabaseApi": {
          "id": "fHIqf3ehxKRHCXZs",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "transactions",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "transaction_id",
              "fieldValue": "={{ $('Received IPN Event From Digistore').item.json.body.transaction_id }}"
            },
            {
              "fieldId": "currency",
              "fieldValue": "={{ $('Received IPN Event From Digistore').item.json.body.currency }}"
            },
            {
              "fieldId": "amount",
              "fieldValue": "={{ $('Received IPN Event From Digistore').item.json.body.amount_brutto }}"
            },
            {
              "fieldId": "event",
              "fieldValue": "={{ $('Received IPN Event From Digistore').item.json.body.event }}"
            },
            {
              "fieldId": "order_id",
              "fieldValue": "={{ $('Received IPN Event From Digistore').item.json.body.order_id }}"
            },
            {
              "fieldId": "ipn_payload",
              "fieldValue": "={{ $('Received IPN Event From Digistore').item.json.body }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        4528,
        -768
      ],
      "id": "410dea28-ad8d-4cad-96ce-3d57c085ab55",
      "name": "Record Transaction of Missed Payment1",
      "credentials": {
        "supabaseApi": {
          "id": "fHIqf3ehxKRHCXZs",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let ez_product_id = $('Update Existing Subscription').first().json.ezycourse_product_id\n\nlet quota = 0\n\nif(ez_product_id == 4047) {\n  quota = 20\n} else if (ez_product_id == 4690) {\n  quota = \t60\n}\n\n\n\nreturn {\n  quota\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5184,
        -768
      ],
      "id": "2067fa6e-9a11-4be2-9d12-76f01f57127b",
      "name": "Map Credit Based on Product4"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "subscriptions",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "={{ $('Calculate Billing Interval with Product Mapped').item.json.status }}"
            },
            {
              "fieldId": "next_payment_at",
              "fieldValue": "={{ $('Calculate Billing Interval with Product Mapped').item.json.next_payment_at }}"
            },
            {
              "fieldId": "valid_until",
              "fieldValue": "={{ $('Calculate Billing Interval with Product Mapped').item.json.valid_until }}"
            },
            {
              "fieldId": "billing_interval",
              "fieldValue": "={{ $('Calculate Billing Interval with Product Mapped').item.json.billing_interval }}"
            },
            {
              "fieldId": "amount_credited",
              "fieldValue": "={{ $('Calculate Billing Interval with Product Mapped').item.json.amount_brutto }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3120,
        384
      ],
      "id": "44f55b6f-6ff3-44d9-aa70-9b8f9d464938",
      "name": "Update Existing Subscription1",
      "credentials": {
        "supabaseApi": {
          "id": "fHIqf3ehxKRHCXZs",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let updateNode = null;\nlet addNode = null;\n\n\ntry {\n  updateNode = $('Update Existing Subscription1').first().json\n} catch (e) {\n\n}\n\ntry {\n  addNode  = $('Add Subscription').first().json\n} catch (e) {\n}\n\n\n\nconst subscription = updateNode || addNode || null\n\nreturn  {\n  subscription\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4656,
        1216
      ],
      "id": "f3c36475-8b3a-4b82-8669-bdd45ab1d74d",
      "name": "Process the Input For Switch",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "subscriptions",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "=active"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1664,
        -1680
      ],
      "id": "29ec113b-e1c0-42e4-8456-5e0fdf293503",
      "name": "Update Trial Subscription",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "users",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Get User Quota4').item.json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "quota",
              "fieldValue": "={{ $('Map Credit Based on Product5').item.json.quota }}"
            },
            {
              "fieldId": "quota_reset_date",
              "fieldValue": "={{ new Date(new Date($now).getFullYear(), new Date($now).getMonth() + 1, 1).toLocaleDateString('en-CA') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2416,
        -2096
      ],
      "id": "6b752378-9071-421a-8107-f71af06ca230",
      "name": "Update Credits5",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "users",
        "filters": {
          "conditions": [
            {
              "keyName": "email",
              "keyValue": "={{ $('Update Existing Subscription2').item.json.email }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1792,
        -2096
      ],
      "id": "8562f1a5-7b1c-4d18-9f3f-d6c8beb0aea2",
      "name": "Get User Quota4",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "let ez_product_id = $('Update Existing Subscription2').first().json.ezycourse_product_id\n\nlet quota = 0\n\nif(ez_product_id == 4047) {\n  quota = 20\n} else if (ez_product_id == 4690) {\n  quota = \t60\n}\n\n\n\nreturn {\n  quota\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2112,
        -2096
      ],
      "id": "aa770237-7312-467d-aa51-84333c9b023f",
      "name": "Map Credit Based on Product5",
      "disabled": true
    },
    {
      "parameters": {
        "tableId": "subscriptions",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "order_id",
              "fieldValue": "={{ $('Calculate Billing Interval with Product Mapped').item.json.order_id }}"
            },
            {
              "fieldId": "created_at",
              "fieldValue": "={{ $now }}"
            },
            {
              "fieldId": "product_id",
              "fieldValue": "={{ $('Calculate Billing Interval with Product Mapped').item.json.product_id }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "={{ $('Calculate Billing Interval with Product Mapped').item.json.status }}"
            },
            {
              "fieldId": "email",
              "fieldValue": "={{ $('Calculate Billing Interval with Product Mapped').item.json.email}}"
            },
            {
              "fieldId": "ezycourse_product_id",
              "fieldValue": "={{ $('Calculate Billing Interval with Product Mapped').item.json.ezycourse_product_id }}"
            },
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $('Return User').item.json.user.id }}"
            },
            {
              "fieldId": "billing_interval",
              "fieldValue": "={{ $('Calculate Billing Interval with Product Mapped').item.json.billing_interval }}"
            },
            {
              "fieldId": "valid_until",
              "fieldValue": "={{ $('Calculate Billing Interval with Product Mapped').item.json.valid_until }}"
            },
            {
              "fieldId": "delivery_date",
              "fieldValue": "={{ $('Calculate Billing Interval with Product Mapped').item.json.delivery_date || null }}"
            },
            {
              "fieldId": "amount_credited",
              "fieldValue": "={{ $('Calculate Billing Interval with Product Mapped').item.json.amount_credited }}"
            },
            {
              "fieldId": "next_payment_at",
              "fieldValue": "={{ $('Calculate Billing Interval with Product Mapped').item.json.next_payment_at }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1632,
        -1264
      ],
      "id": "d9d8b199-cdfb-43da-9c8c-c0c586e7dc08",
      "name": "Add Subscription1",
      "disabled": true
    },
    {
      "parameters": {
        "tableId": "transactions",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "transaction_id",
              "fieldValue": "={{ $('Calculate Billing Interval with Product Mapped').item.json.transaction_id }}"
            },
            {
              "fieldId": "order_id",
              "fieldValue": "={{ $json.order_id }}"
            },
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $json.user_id }}"
            },
            {
              "fieldId": "ipn_payload",
              "fieldValue": "={{ $('Received IPN Event From Digistore').first().json.body }}"
            },
            {
              "fieldId": "amount",
              "fieldValue": "={{ $json.amount_credited }}"
            },
            {
              "fieldId": "event",
              "fieldValue": "={{ $('Received IPN Event From Digistore').first().json.body.event }}"
            },
            {
              "fieldId": "currency",
              "fieldValue": "={{ $('Received IPN Event From Digistore').first().json.body.currency }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2096,
        -1264
      ],
      "id": "93ab0e68-b117-4c92-a5e7-0a9bc4389baa",
      "name": "Record Transaction Log1",
      "disabled": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1120,
        -2432
      ],
      "id": "c9a99288-6821-4d36-a993-0ac626130089",
      "name": "No Operation, do nothing",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "subscriptions",
        "filters": {
          "conditions": [
            {
              "keyName": "upgraded_order_id",
              "keyValue": "={{ $json.order_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        336,
        -2256
      ],
      "id": "ce51a290-0d7e-4abc-88e8-3f7c7be97595",
      "name": "Check if Replaced by Upgrade1",
      "alwaysOutputData": true,
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8c79e24f-1086-4fcd-b863-63c2fc844201",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        720,
        -2256
      ],
      "id": "d23dd7b8-8461-47e0-9938-f0bf1062cc0a",
      "name": "Find If Not Empty1",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.deinegesundheitsschule.de/api/ezycourse/webhooks/create-product-enrollment/f9uMoaS61pMZw9F6bhOmvN-98TODvjqR",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $('Add Subscription1').item.json.email }}"
            },
            {
              "name": "product_id",
              "value": "={{ $('Add Subscription1').item.json.ezycourse_product_id }}"
            },
            {
              "name": "product_type",
              "value": "membership"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2992,
        -1552
      ],
      "id": "79a915fa-3bf1-4e18-bbe3-668072561be7",
      "name": "Enroll Student into Product3",
      "disabled": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "users",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $('Add Subscription1').item.json.user_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3312,
        -1552
      ],
      "id": "5a0afe47-1fc1-4935-86a7-2da1c130eee4",
      "name": "Get User Quota5",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "let ez_product_id = $('Add Subscription1').first().json.ezycourse_product_id\n\nlet quota = 0\n\nif(ez_product_id == 4047) {\n  quota = 20\n} else if (ez_product_id == 4690) {\n  quota = \t60\n}\n\n\n\nreturn {\n  quota\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3648,
        -1552
      ],
      "id": "eb2745a3-066e-4e74-909d-aaf6086d509b",
      "name": "Map Credit Based on Product6",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "users",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Get User Quota5').item.json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "quota",
              "fieldValue": "={{ $('Map Credit Based on Product6').item.json.quota }}"
            },
            {
              "fieldId": "quota_reset_date",
              "fieldValue": "={{ new Date(new Date($now).getFullYear(), new Date($now).getMonth() + 1, 1).toLocaleDateString('en-CA') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        4000,
        -1552
      ],
      "id": "e5311497-ac15-4bc9-81b6-d28915b2e849",
      "name": "Update Credits6",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b2b51c38-1d19-47bc-8a50-d33638f8568d",
              "leftValue": "={{ $('Add Subscription1').item.json.status }}",
              "rightValue": "active",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "3193095d-c1e7-4d73-a03d-df116589fb72",
              "leftValue": "={{ $('Add Subscription1').item.json.status }}",
              "rightValue": "=trial",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2544,
        -1264
      ],
      "id": "f4a998fe-f5f7-4103-9693-74ed618d90d9",
      "name": "If Subscription Active1",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "subscriptions",
        "filters": {
          "conditions": [
            {
              "keyName": "order_id",
              "keyValue": "={{ $('Calculate Billing Interval with Product Mapped').item.json.order_id }}"
            },
            {
              "keyName": "status",
              "keyValue": "trial"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        320,
        -1664
      ],
      "id": "e9d368fe-0af4-4e5e-942d-08b5f21e8893",
      "name": "Find for Free Trial Test1",
      "alwaysOutputData": true,
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7007c698-1fca-48b0-a385-514a3351d0e9",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1072,
        -1664
      ],
      "id": "a2c89468-ce37-4849-b2a0-69fec84be2b6",
      "name": "If Trial Subscription Exist1",
      "disabled": true
    },
    {
      "parameters": {
        "tableId": "transactions",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "transaction_id",
              "fieldValue": "={{ $('Received IPN Event From Digistore').item.json.body.transaction_id }}"
            },
            {
              "fieldId": "currency",
              "fieldValue": "={{ $('Received IPN Event From Digistore').item.json.body.currency }}"
            },
            {
              "fieldId": "amount",
              "fieldValue": "={{ $('Received IPN Event From Digistore').item.json.body.amount_brutto }}"
            },
            {
              "fieldId": "event",
              "fieldValue": "={{ $('Received IPN Event From Digistore').item.json.body.event }}"
            },
            {
              "fieldId": "order_id",
              "fieldValue": "={{ $('Received IPN Event From Digistore').item.json.body.order_id }}"
            },
            {
              "fieldId": "ipn_payload",
              "fieldValue": "={{ $('Received IPN Event From Digistore').item.json.body }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1456,
        -2096
      ],
      "id": "8e5676ad-fadb-4053-9bdc-312127eb9b0f",
      "name": "Record Transaction of Missed Payment2",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "subscriptions",
        "filters": {
          "conditions": [
            {
              "keyName": "order_id",
              "condition": "eq",
              "keyValue": "={{ $('If Exist').item.json.order_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "next_payment_at",
              "fieldValue": "={{ $('Calculate Billing Interval with Product Mapped').item.json.next_payment_at }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "active"
            },
            {
              "fieldId": "valid_until",
              "fieldValue": "={{ $('Calculate Billing Interval with Product Mapped').item.json.valid_until }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1120,
        -2096
      ],
      "id": "e1afc5b4-5cd8-4ff7-8c47-d5c9d7ae416f",
      "name": "Update Existing Subscription2",
      "disabled": true
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2026-03-24T12:08:28.715Z",
      "createdAt": "2026-03-24T12:08:28.715Z",
      "role": "workflow:owner",
      "workflowId": "FHqyRWx7F86a10uB",
      "projectId": "POhXKLALTFDZhVtj"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-03-26T14:03:01.000Z",
  "versionId": "3302a050-51c0-436c-a7fb-dcfb54048bca"
}