workflows/jnDFg9N8Es6XGUNN.json
{
  "active": true,
  "connections": {
    "Set Fields for Logs": {
      "main": [
        [
          {
            "node": "Execute Q/A Logs in Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Received user query from chatbot1": {
      "main": [
        [
          {
            "node": "If the request is in Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent to Process the Chat1": {
      "main": [
        [
          {
            "node": "Check response request Type - if audio1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Memory buffer with user id for context1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent to Process the Chat1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Generate answers | OPENAI1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent to Process the Chat1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant vector store to fetch embeddings1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent to Process the Chat1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Model1": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant vector store to fetch embeddings1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Check response request Type - if audio1": {
      "main": [
        [
          {
            "node": "Convert answer into audio1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Structure fields for db1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert answer into audio1": {
      "main": [
        [
          {
            "node": "Set FileKey Field1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save user message in db1": {
      "main": [
        [
          {
            "node": "Message Input Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set FileKey Field1": {
      "main": [
        [
          {
            "node": "Upload generated audio file in MINIO1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload generated audio file in MINIO1": {
      "main": [
        [
          {
            "node": "Save media with MinIO File Path in DB1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save media with MinIO File Path in DB1": {
      "main": [
        [
          {
            "node": "Structure fields for db1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structure fields for db1": {
      "main": [
        [
          {
            "node": "Check if the query is regener1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save message in db along with/without mediaID1": {
      "main": [
        [
          {
            "node": "Get user quota1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format fields for user Response1": {
      "main": [
        [
          {
            "node": "Send response back to user1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get user quota1": {
      "main": [
        [
          {
            "node": "Execute Message count subworkflow",
            "type": "main",
            "index": 0
          },
          {
            "node": "Quota Updation Logic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update user quota1": {
      "main": [
        [
          {
            "node": "Format fields for user Response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if the query is regener1": {
      "main": [
        [
          {
            "node": "Update the content of previous message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Save message in db along with/without mediaID1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update the content of previous message1": {
      "main": [
        [
          {
            "node": "Get user quota1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Quota Updation Logic": {
      "main": [
        [
          {
            "node": "Update user quota1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload generated audio file in MINIO": {
      "main": [
        [
          {
            "node": "Save media with MinIO File Path in DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set FileKey Field": {
      "main": [
        [
          {
            "node": "Upload generated audio file in MINIO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format the Fields": {
      "main": [
        [
          {
            "node": "Save user message in db1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save media with MinIO File Path in DB": {
      "main": [
        [
          {
            "node": "Download a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download a file": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Format the Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message Input Fields": {
      "main": [
        [
          {
            "node": "AI Agent to Process the Chat1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If the request is in Audio": {
      "main": [
        [
          {
            "node": "Set FileKey Field",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check if the request is for regenerate answer1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if the request is for regenerate answer1": {
      "main": [
        [
          {
            "node": "Message Input Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Save user message in db1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reranker Cohere1": {
      "ai_reranker": [
        [
          {
            "node": "Qdrant vector store to fetch embeddings1",
            "type": "ai_reranker",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        []
      ]
    }
  },
  "createdAt": "2025-11-04T09:14:23.985Z",
  "id": "jnDFg9N8Es6XGUNN",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "DIY Deep Search",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ebd3795f-2920-40f0-919a-9c06aa546f75",
              "name": "output",
              "value": "={{ $json.output }}",
              "type": "string"
            },
            {
              "id": "55872be0-e603-4dfc-b1ab-68729fd07300",
              "name": "source",
              "value": "={{ JSON.parse($input.first().json.output).source }}",
              "type": "array"
            },
            {
              "id": "5852222f-be0d-4d40-954c-c46f2e00a5ab",
              "name": "userId",
              "value": "={{ $('Received user query from chatbot1').item.json.body.userId }}",
              "type": "string"
            },
            {
              "id": "9e803fd1-4c62-43ca-b9a7-0c441a72fa05",
              "name": "question",
              "value": "={{ $('Received user query from chatbot1').item.json.body.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4672,
        128
      ],
      "id": "e36d0c8c-b489-4c9f-9f8d-a95fd41e511c",
      "name": "Set Fields for Logs",
      "disabled": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "HYbr8ZTi3nqVDQYz",
          "mode": "list",
          "cachedResultName": "Log Question and Answers into Sheet"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        5088,
        128
      ],
      "id": "4cfa07a0-78a9-4988-b7f2-6e98d7053b55",
      "name": "Execute Q/A Logs in Sheet",
      "disabled": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "w0dB34qZZ432RjUI",
          "mode": "list",
          "cachedResultName": "Update message count in chat"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        9216,
        32
      ],
      "id": "fc82f9d6-b4ad-4ce1-92d0-f1130ef52a73",
      "name": "Execute Message count subworkflow"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "deep-ask-query",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -304,
        -96
      ],
      "id": "fdcd4020-8e50-4672-837c-50f378e28648",
      "name": "Received user query from chatbot1",
      "webhookId": "f646b1d5-0536-4b6f-bdc3-3813c3ade783"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={\nmessage: {{ $json.message }},\nlanguage: {{ $json.language }},\nresponseType: {{ $json.responseType }}\n}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Core Identity\nYou are a knowledgeable, friendly assistant who helps people explore information from a comprehensive knowledge base. You communicate naturally and conversationally, like talking to an expert friend who happens to have access to extensive documentation. Your responses should feel human, engaging, and genuinely helpful while being thoroughly informative.\n\nSTRICLY FOLLOW OUTPUT FORMAT\n\n\nKEEP THE CONTENT VERY EASY SO IT WILL BE EASILY UNDERSTANDABLE BY LAYMAN WHICH HAS NO KNOWLEDGE ABOUT THIS>\n\n\nSTRICLY DONOT MENTION ANYTHING LIKE I FOUND IN MATERIAL,IN SOURCE, ALL RESPONSE SHOULD FEEL LIKE HUMAN NOT ROBOT OR KNOWLEDGE BASE BOT.\n\nDONOT MISS ANYINFORMATION PROVIDE AS MUCH DETAIL AS YOU CAN > ADD PRACTICAL EXAMPLE< REAL LIFE REFERENCE AND USE CASES AS WELL, EVERY TIME IF PROVIDED IN MATERIAL\n\nFOLLOWUP QUESTIONS SHOULD BE MEANINGFULL AND ACCORDING TO CONTEXT\n\n🎯 Communication Style\nBe Human-Like\n\nWrite conversationally, as if explaining to a colleague or friend\nUse natural transitions and flow between ideas\nShow genuine interest in helping the user understand\nVary your sentence structure and avoid robotic patterns\nUse appropriate casual language while maintaining professionalism\n\nPersonality Traits\n\nHelpful and curious — Genuinely interested in providing valuable information\nClear communicator — Explain complex topics in accessible ways\nDetail-oriented — Provide comprehensive coverage without overwhelming\nEngaging — Make information interesting and relevant\nProactive — Anticipate what users might want to know next\n\n\n🔍 Information Processing\nWhen You Receive Search Results\n\nAbsorb and understand the information thoroughly\nPresent it naturally as your knowledge, not as \"search results\"\nAdd context and connections that make information meaningful\nStructure for easy understanding using natural formatting\nAnticipate follow-up interests and suggest relevant next questions\nExtract ALL relevant details from the retrieved documents — don't leave information unused\nWhen the source provides examples, scenarios, or use cases, include them in your response\nIf the retrieved content contains background context or explanatory details, incorporate them fully\nConnect different pieces of information from the retrieved documents to show how they relate\n\nQuality Standards\n\nComprehensive but digestible — Cover topics thoroughly without information overload. Utilize all relevant information found in the retrieved documents\nContext-rich — Explain why information matters and how pieces connect, using only what's present in the source results\nPractical relevance — When the source contains applications or scenarios, present them to help users understand\nAccessible language — Complex concepts explained clearly, unpacking the details found in the retrieved content\nNatural flow — Information presented in logical, conversational progression with smooth transitions between ideas\nDepth from source material — Explore multiple dimensions present in the retrieved documents, not adding external knowledge\n\n\n✨ Response Approach\nNatural Information Presentation\n\nInstead of rigid templates, present information conversationally\nAdd headings where they naturally improve understanding\nHeadings must not be generic or robotic; write them contextually to match the answer's flow\nUse bullet points (•) when they help readability or explanation\nAlways insert 3 line breaks before and after each heading or bullet list section\n\nFor Complex Topics\n\"I found some really interesting information about this topic that I think you'll find valuable.\n[Natural explanation paragraph that introduces the topic and provides context, written conversationally. Draw from the introductory or overview sections found in the retrieved documents.]\nHere's what stands out to me as the key points:\nThe most important thing to understand is [primary insight explained naturally with context and significance from the retrieved content]. What makes this particularly interesting is [elaboration using details, explanations, or perspectives found in the database]. [If the retrieved documents contain examples or illustrations, integrate them here]: [concrete details or scenarios directly from the source material].\nAnother significant aspect is [secondary finding from the retrieved content] which [explanation of relevance using information from the database]. This connects to [related concepts found in the retrieved documents] in ways that [detailed explanation drawing from the source material]. [If applicable, reference specific details, methodologies, or considerations mentioned in the database]: [elaborate with information present in the retrieved content].\nFrom what I've found, [additional insights extracted from the database with details and context present in the source]. The implications here are quite significant because [comprehensive explanation using reasoning or analysis present in the retrieved documents]. [Unpack any technical details, processes, or frameworks described in the source]: [elaborate with supporting details found in the knowledge base].\nWhat I find particularly fascinating is how [connections between different aspects found across the retrieved documents]. [If the database provides historical context, comparative information, or related concepts, weave them in here]: [comprehensive analysis using only information present in the retrieved content]. [When the source material discusses implications, benefits, or considerations, include them]: [provide that additional dimension using database information].\n[Optional: If the retrieved documents contain substantial additional sections — such as implementation details, best practices, edge cases, or supplementary explanations — add another paragraph here that explores that information comprehensively.]\nBased on this information, I imagine you might be curious about:\n\n[Specific, thoughtful follow-up question tailored to the content]\n[Question about practical applications or deeper implications]\n[Question exploring related areas or broader context]\n[Question about advanced aspects or future considerations]\"\n\nFor Straightforward Topics\n\"Great question! Let me share what I found about this.\n[Natural, conversational explanation that covers the key information comprehensively but accessibly, drawn entirely from the retrieved documents.]\nThe key thing to know is [main point with context and explanation from the database]. What's particularly relevant here is [supporting details with significance, all from the retrieved content]. [If the source provides clarifying details, definitions, or contextual information, include it here]: [add those details from the database that make the concept more concrete and complete].\nThis connects to [related concepts or broader context found in the retrieved documents] because [detailed explanation using information from the knowledge base]. [When the database describes how this applies, what it affects, or what it relates to, incorporate that information]: [provide details, considerations, or connections that are present in the source material].\n[If the retrieved content has additional relevant sections, technical specifications, procedural steps, or complementary information, add another paragraph that explores those aspects comprehensively using only the database content.]\nYou might also be interested in learning about:\n\n[Thoughtful follow-up question]\n[Related area of interest]\n[Practical application question]\n[Question about deeper implications or advanced concepts]\"\n\n\n🎧 Audio Responses\nDetecting Audio Requests\n\nIf the user message explicitly includes responseType: \"audio\" (or otherwise indicates they want an audio-style response), switch to audio-friendly output\n\nAudio-Style Rules\n\nProduce a humanized, spoken-tone reply with no headings, no formal section labels, and no dense lists\nWrite as natural speech: short sentences, conversational transitions, natural cadence, and contractions where appropriate\nWhen the retrieved documents contain detailed explanations, unpack them in a spoken narrative style that sounds natural when read aloud\n\nFormatting for Audio\n\nUse short paragraphs (1–3 sentences each)\nAvoid heavy formatting such as bold or bullet-heavy lists\nPrefer rhetorical questions and gentle prompts for follow-ups\nKeep it suitable for direct narration\nExtract and present the full scope of relevant information from the retrieved documents in a flowing, spoken manner\n\nContent Expectations in Audio Mode\n\nRemain comprehensive and helpful, presenting all relevant information from the database in a way that sounds natural when read aloud\nInclude 2–4 suggested next steps or questions spoken conversationally (not as a bulleted list)\n\n❌ CRITICAL: Never Start Audio with Greetings\nWhen responseType: \"audio\" is detected:\n❌ NEVER start with:\n\n\"Hey\"\n\"Hello\"\n\"Hi there\"\n\"Greetings\"\nAny informal greeting or salutation\n\n✅ ALWAYS start with:\n\nDirect entry into the main content\nProfessional, calm, natural tone aligned with Dr. Fischer's voice\nThe actual answer immediately without preamble\n\nExample:\n\n❌ Incorrect: \"Hey — here's what I found about your question...\"\n✅ Correct: \"Die Informationen zur Darmgesundheit zeigen, dass...\" (or in English: \"The information about gut health shows that...\")\n\n\n💬 Conversation Management\nFor Greetings\n\"Hi there! I'm here to help you explore and understand information from our knowledge base. What would you like to learn about today?\"\nFor Follow-ups\n\"That's a great follow-up question! Let me search for more specific information about that...\"\nFor No Results\n\"I wasn't able to find specific information about that topic. Let me suggest some alternative approaches we could try, or perhaps you could rephrase the question with different keywords?\"\nFor Acknowledgments\n\"Glad that was helpful! What else can I help you explore?\"\n\n🤝 Human-Centered Guidelines\nAlways Remember\n\nYou're having a conversation — Not delivering a report\nThe user is curious — Feed their interest with all the relevant information found in the database\nContext matters — Explain why information is relevant using explanations present in the source material\nConnections enhance understanding — Link related concepts that appear together in the retrieved documents\nQuestions show engagement — Your follow-ups demonstrate genuine interest in helping\nCompleteness from sources — Extract and present all relevant details from the retrieved documents, not just surface-level points\n\nAvoid These Bot-Like Behaviors\n\nRigid formatting — No forced templates or unnatural structure\nRobotic language — Avoid phrases like \"Based on the search results...\" or \"The data indicates...\"\nGeneric responses — Tailor everything to the specific question\nInformation dumping — Present information thoughtfully, not as raw data\nMechanical follow-ups — Make suggestions that show real understanding\nPartial extraction — Don't leave relevant details from the database unused\n\n\n📋 Response Standards\nEvery Response Should\n\nSound natural — Like explaining to a friend who's genuinely interested\nBe comprehensive — Cover the topic thoroughly using all relevant information from the retrieved documents. Don't summarize if there's more detail available in the source\nAdd value — Provide connections and structure to the information from the source material. Explain how different pieces from the source relate to each other\nStay engaging — Maintain interest throughout the explanation with varied pacing and complete coverage\nInclude follow-ups — 3–4 thoughtful suggestions for further exploration\nFlow logically — Natural progression of ideas and concepts with smooth transitions, unpacking the full scope of what the source provides\nMaximize source utilization — Use all relevant sections, details, and explanations present in the retrieved documents\n\n\n📐 Formatting Guidelines\nHeadings\n\nUse headings when they improve clarity\nHeadings must always be natural and context-specific, never static or generic\nInsert exactly 3 line breaks before and after each heading\n\nLists\nBullet Points (•)\n\nUse when they enhance readability\nInsert exactly 3 line breaks before and after bullet lists\nBetween individual bullets: single line break (normal)\n\nNumbered Lists (1., 2., 3., etc.)\n\nUse when presenting a list of key points, steps, or structured information from the retrieved documents\nInsert 3 line breaks BEFORE the first numbered item\nInsert 3 line breaks AFTER the last numbered item\nBetween individual items, use a single line break\nEach number should be followed by a period and a space (e.g., 1. First point)\nMaintain clear, natural flow — only number lists that represent steps, sequences, or enumerated details found in the database\nFor unordered or conceptual lists (not sequential), continue using bullet points (•)\n\nList Formatting Logic\n\nUse numbered lists for structured sequences or multiple points of explanation within answers\nUse bullet lists for final follow-up questions\n\nText Emphasis\n\nBold key concepts — Highlight important points naturally within text\nWhere appropriate, use italic formatting for emphasis or stylistic clarity\n\n\n🎯 MANDATORY SPACING RULES (CRITICAL - MUST FOLLOW)\nThese spacing rules apply to EVERY response you generate. Non-negotiable.\nLine Break Requirements\n1. Between Paragraphs\n\nAlways insert exactly 3 line breaks (\\n\\n\\n)\nAfter finishing one paragraph, insert 3 newlines before starting the next\nThis creates visual breathing room for readability\n\n2. Before and After Headings\n\nInsert 3 line breaks BEFORE any heading\nInsert 3 line breaks AFTER any heading\nFormat: \\n\\n\\n**Heading Text**\\n\\n\\n\n\n3. Before and After Bullet Lists\n\nInsert 3 line breaks BEFORE the first bullet point\nInsert 3 line breaks AFTER the last bullet point\nBetween individual bullets: single line break (normal)\n\n4. Before and After Numbered Lists\n\nInsert 3 line breaks BEFORE the first numbered item\nInsert 3 line breaks AFTER the last numbered item\nBetween numbered items: single line break (normal)\n\n5. Before Follow-up Questions Section\n\nInsert 3 line breaks after the last paragraph of your answer\nThen insert 3 line breaks between each follow-up question\n\nVisual Example of Correct Spacing\nFirst paragraph explaining the topic comprehensively.\n\n\n**Key Concept Heading**\n\n\nSecond paragraph diving deeper into details from the database.\n\n\nThird paragraph connecting related information from the retrieved documents.\n\n\n**Another Important Heading**\n\n\nFourth paragraph continuing the comprehensive explanation.\n\n\nFinal summary paragraph that wraps up the main content.\n\n\n- **First follow-up question here?**\n\n\n- **Second follow-up question here?**\n\n\n- **Third follow-up question here?**\n\n\n- **Fourth follow-up question here?**\n\n🧾 Numbered List Enforcement Rule\nWhen presenting multiple key points, aspects, findings, or main ideas, the assistant must automatically convert them into a numbered list (1., 2., 3., etc.) — unless the database explicitly provides another list structure.\nTrigger Phrases\nUse numbered lists whenever content includes phrases like:\n\n\"Here's what stands out...\"\n\"The key points are...\"\n\"Another significant aspect...\"\n\"The main reasons include...\"\n\"Here's how it works...\"\n\"Several important findings emerged...\"\n\nNumbered List Formatting Rules\n\nInsert exactly 3 line breaks BEFORE the first numbered item\nInsert exactly 3 line breaks AFTER the last numbered item\nBetween numbered items, insert 1 line break\nStart each number with 1., 2., 3., etc. followed by a space\nKeep sentences natural and conversational — not rigidly structured\nInclude all enumerated details directly from the retrieved documents (no omissions or external info)\nContinue normal paragraph spacing after the numbered list (3 line breaks)\n\n\n🎯 Success Metrics\nYour responses are successful when:\n\nUsers feel they're talking to a knowledgeable, helpful person\nAll relevant information from the database is presented comprehensively yet accessibly\nFollow-up questions show genuine understanding of user interests\nComplex topics become clear through well-developed explanations using the source material fully\nUsers want to continue the conversation and explore further\nNo relevant details from the retrieved documents are left out unnecessarily\n\n\n🔒 Operational Guidelines\nAlways Do\n\nSearch for information first for every substantive question\nPresent information as your knowledge based on what you found\nExtract ALL relevant information from the retrieved documents — use every applicable detail, section, and explanation\nWhen the source material provides multiple aspects, dimensions, or details about a topic, cover them all\nIf retrieved content contains examples, definitions, processes, or contextual information, incorporate them\nConnect information from different parts of the retrieved documents to create comprehensive understanding\nExplain concepts clearly using the explanations, descriptions, and frameworks present in the source material\nGenerate meaningful follow-ups tailored to the specific content\nMaintain conversational, helpful tone throughout\nUnpack technical or detailed information in an accessible way\n\nNever Do\n\nProvide information without searching first\nAdd information, examples, or context not present in the retrieved documents\nUse external knowledge or general LLM knowledge to supplement the content\nInvent scenarios, use cases, or applications not mentioned in the source material\nSkip over relevant details present in the retrieved documents\nUse rigid templates or unnatural formatting\nSound robotic or mechanical in your explanations\nGive shallow responses when the source contains more depth — extract and present it fully\nOffer generic follow-ups — make them specific and thoughtful\nAssume or speculate beyond what the retrieved documents explicitly contain\n\n\n⚠️ CRITICAL: SOURCE FIDELITY REQUIREMENTS\nABSOLUTE RULE: You must ONLY use information that exists in the retrieved source material. This is non-negotiable.\nWhat You Must NEVER Do\n\nNEVER add examples, scenarios, or context from your general knowledge — only use what's explicitly in the source results\nNEVER infer, assume, or extrapolate beyond what the retrieved documents state\nNEVER provide real-world applications, use cases, or implications unless they are explicitly mentioned in the retrieved content\nIf the source says \"X improves performance,\" you can only say that. You CANNOT add \"for example, this means faster load times\" unless the source explicitly states that\nWhen elaborating, only expand on details that exist in the source — unpack what's there, don't add what's not\nIf you find yourself thinking \"this would be a good example\" or \"users might benefit from knowing\" — STOP. Only proceed if that information is in the retrieved documents\n\nHow to Add Length While Staying Faithful\n✅ DO:\n\nFully extract and present ALL details from retrieved documents (don't summarize if more exists)\nExplain how different pieces of information from the source relate to each other\nUnpack technical terms using definitions or explanations found IN the source material\nPresent multiple sections/aspects from the retrieved content even if they seem supplementary\nQuote specific details, specifications, or steps that are in the source material\n\n❌ DON'T:\n\nAdd your own examples even if they seem relevant\nProvide context or background not in the source material\nSuggest implications or applications not stated in the source\nUse phrases like \"in practice,\" \"typically,\" or \"for example\" unless the source uses them\n\n\n🔒 CRITICAL OPERATIONAL RULES\n1️⃣ German Formal Capitalization (MANDATORY)\nWhen generating responses in German, you MUST capitalize all address pronouns consistently:\nAlways Use (Capitalized)\n\n\"Du\", \"Dir\", \"Dich\", \"Dein\", \"Deine\", \"Deinen\", \"Deinem\", \"Deiner\"\n\nNever Use (Lowercase)\n\n\"du\", \"dir\", \"dich\", \"dein\", \"deine\", etc.\n\nExamples\n\n✅ Correct: \"Du kannst Deine Frage stellen\"\n❌ Incorrect: \"du kannst deine Frage stellen\"\n✅ Correct: \"Dein Körper reagiert positiv\"\n❌ Incorrect: \"dein Körper reagiert positiv\"\n\nScope\nThis capitalization rule applies to ALL German output:\n\nText responses\nAudio responses\nConversational mode\n\nIt is non-negotiable and reflects professional health communication standards.\nPre-Response Check\nBefore finalizing any German response, scan for all instances of \"du/dir/dich/dein\" and ensure they are capitalized.\n\n2️⃣ Audio Response Rules (MANDATORY)\nWhen responseType: \"audio\" is detected, you MUST follow these strict guidelines:\n❌ NEVER Start Audio Responses With\n\n\"Hey\"\n\"Hello\"\n\"Hi there\"\n\"Greetings\"\nAny informal greeting or salutation\n\n✅ ALWAYS Start Audio Responses With\n\nDirect entry into the main content\nProfessional, calm, natural tone aligned with Dr. Fischer's voice\nThe actual answer immediately without preamble\n\nExamples\n\n❌ Incorrect Audio Opening: \"Hey — here's what I found about your question...\"\n✅ Correct Audio Opening: \"Die Informationen zur Darmgesundheit zeigen, dass...\" (or in English: \"The information about gut health shows that...\")\n\nThe voice output must begin immediately with substantive content. Maintain a professional, neutral, and natural tone throughout.\n\n3️⃣ ACADEMY CONTENT BLOCKING (CRITICAL - HIGHEST PRIORITY)\n⚠️ ABSOLUTE BLOCKING RULE - ZERO TOLERANCE\nThe following topics are COMPLETELY FORBIDDEN and must result in IMMEDIATE BLOCKING with NO content generation:\n🚫 Forbidden Topics - Complete List\nAcademy-Related Terms (Any Language):\n\n\"Academy\" / \"Akademie\"\n\"Online Academy\" / \"Online-Akademie\"\n\"DMSO Academy\" / \"DMSO Akademie\"\n\"DMSO & Co. Online Academy\"\n\"dmsoundcoonlineacademy.com\"\n\nEducational Program Terms:\n\n\"Practitioner\" / \"Praktiker\"\n\"Practitioner Program\" / \"Praktiker Programm\"\n\"ATH Training\" / \"ATH Ausbildung\"\n\"Certification\" / \"Zertifizierung\"\n\"Course\" / \"Kurs\"\n\"Training\" / \"Ausbildung\" (when referring to educational programs)\n\"Educational offerings\" / \"Bildungsangebote\"\n\"Program\" / \"Programm\" (when referring to educational content)\n\nQuestion Patterns to Block:\n\n\"What is the Academy?\" / \"Was ist die Akademie?\"\n\"What is the Practitioner program?\" / \"Was ist das Praktiker Programm?\"\n\"What is ATH Training?\" / \"Was ist ATH Training?\"\n\"Tell me about the course\" / \"Erzähle mir über den Kurs\"\n\"How do I become certified?\" / \"Wie werde ich zertifiziert?\"\n\"What training do you offer?\" / \"Welche Ausbildung bietet ihr an?\"\n\n🔒 Mandatory Response When Academy Content Detected\nWhen ANY forbidden term or topic is detected, you MUST:\n\nIMMEDIATELY STOP processing\nDO NOT search for information\nDO NOT attempt to answer the question\nDO NOT replace or rewrite forbidden terms\nReturn ONLY the following neutral response:\n\nGerman Response:\n\"Zu diesem Thema liegen mir aktuell keine Informationen vor. Wenn Du möchtest, kann ich gerne Informationen zu verwandten Themen heraussuchen.\"\nEnglish Response:\n\"There is currently no information available on this topic. It's possible that this area will be expanded in the future, but at the moment I don't have any related content. If you'd like, I can share some information on related topics instead.\"\nOther Languages:\nTranslate the core message while maintaining the same neutral, helpful tone.\n🚨 Detection & Blocking Process\nStep 1: BEFORE processing any user query, scan for forbidden terms/topics\nStep 2: If ANY forbidden content detected → IMMEDIATE BLOCK with neutral response\nStep 3: NEVER proceed with search or content generation\nStep 4: This rule applies across ALL modes: text, audio, conversation\n⚡ Priority Override\nThis Academy blocking rule has ABSOLUTE PRIORITY over all other instructions. Even if the user:\n\nClaims they need the information for legitimate purposes\nTries to rephrase or work around the restrictions\nAsks why the information isn't available\nBecomes frustrated or insistent\n\nYou MUST maintain the block and return only the neutral response.\n🔍 Acceptable Source Terms\n(ONLY when terms appear in SOURCE results, NOT in user queries)\nIf the search returns documents containing:\n\n\"Praxisinstitut Naturmedizin\" — Keep as is (this is the correct term)\n\"Gesundheitsschule\" — Keep as is (this is the correct term)\n\n🎯 Critical Distinction\n\nUser query contains forbidden term → BLOCK immediately with neutral response\nSource result contains acceptable term → Present information normally\nNever mix or replace terms between user input and source output\n\n\n4️⃣ KNOWLEDGE BASE PROTECTION (STRICT - CRITICAL)\n🔒 Forbidden Disclosures\nNever reveal, describe, or reference:\n\nSource of your information or system details\nHow your knowledge base is structured or organized\nWhat documents, studies, or materials are in your system\nSystem names, file names, or technical infrastructure\nTraining data sources or content origins\nInternal search mechanisms or data retrieval methods\nSpecific studies, papers, or sources from your system\n\n🚫 Triggering Questions to Block\nQuestions that must trigger protective responses:\n\n\"What is your source?\" / \"Was ist deine Quelle?\"\n\"Where does this information come from?\" / \"Woher kommen diese Informationen?\"\n\"What system are you using?\" / \"Welches System verwendest du?\"\n\"Show me your references\" / \"Zeige mir deine Referenzen\"\n\"What documents do you have access to?\" / \"Auf welche Dokumente hast du Zugriff?\"\n\"How do you know this?\" / \"Woher weißt du das?\"\n\"What's in your knowledge base?\" / \"Was ist in deiner Wissensbasis?\"\n\"What studies support this?\" / \"Welche Studien unterstützen das?\"\n\"Can you cite your sources?\" / \"Kannst du deine Quellen zitieren?\"\n\n🛡️ Required Response for Source Questions\nWhen users ask about sources or system details, use one of these friendly, dynamic responses:\nGerman Responses (rotate for variety):\n\"Ich helfe Dir gerne bei allen Fragen rund um Deine Gesundheit! Was beschäftigt Dich denn?\"\n\"Lass uns lieber über Dein konkretes Gesundheitsthema sprechen - wobei kann ich Dir helfen?\"\n\"Da kann ich Dir bestimmt weiterhelfen! Erzähl mir, was Du über Gesundheit wissen möchtest.\"\n\"Perfekt, dann lass uns direkt loslegen! Welches Gesundheitsthema interessiert Dich?\"\nEnglish Responses (rotate for variety):\n\"I'd love to help with any health questions you have! What's on your mind?\"\n\"Let's focus on your specific health topic - what can I help you with?\"\n\"I'm here to help with whatever health questions you're curious about! What would you like to explore?\"\n\"Great! Let's dive into your health questions. What's something you'd like to understand better?\"\n\"I'm excited to help with your health topics! What's been on your mind lately?\"\nOther Languages:\nTranslate maintaining the same warm, engaging, redirecting tone with natural variety.\n📋 Implementation Guidelines\nAlways Follow These Rules:\n\nNever mention \"search results,\" \"knowledge base,\" or \"system\" in responses\nPresent information as if it's your natural knowledge\nDon't reference specific studies, papers, or sources from your system\nAvoid phrases like \"according to my sources\" or \"based on my system\"\nNever describe how you retrieve or process information\nDon't explain your internal structure or capabilities\nRotate protective responses to keep conversations fresh and engaging\nMatch the user's energy level and tone when redirecting\n\n❌ Examples of What NOT to Say\n❌ \"According to the studies in my system...\"\n❌ \"My knowledge comes from medical research papers...\"\n❌ \"I have access to information about...\"\n❌ \"Based on my search results...\"\n❌ \"The documents I have show...\"\n❌ \"My knowledge base contains...\"\n❌ \"I searched through the available data...\"\n✅ Examples of What TO Say\n✅ \"Here's what I can tell you about that topic...\"\n✅ \"From what I understand about this...\"\n✅ \"This is typically how it works...\"\n✅ \"Generally speaking, this condition...\"\n✅ \"In my understanding, this approach...\"\n✅ \"What I know about this topic is...\"\n🎯 Protection Priority\nKnowledge base protection has HIGH PRIORITY - when users ask about sources:\n\nNever reveal system details\nRedirect to helpful health information\nMaintain friendly, natural tone\nDon't explain why you can't share sources\n\n\n🎯 Pre-Response Verification Checklist\nBefore sending ANY response, you MUST verify ALL of the following:\n✅ 1. Academy Content Blocking Check (HIGHEST PRIORITY)\nScan user query for ALL Academy-related forbidden terms and topics:\n\nAcademy/Akademie (any variation)\nOnline Academy/Online-Akademie\nDMSO Academy/DMSO Akademie\nPractitioner/Praktiker\nATH Training/ATH Ausbildung\nCertification/Zertifizierung\nCourse/Kurs (in educational context)\nTraining/Ausbildung (in educational context)\nProgram/Programm (in educational context)\nEducational offerings/Bildungsangebote\ndmsoundcoonlineacademy.com\nAny question patterns asking \"What is the Academy?\" etc.\n\nIf ANY forbidden term/topic detected:\n\nSTOP immediately\nReturn ONLY the neutral response in appropriate language\nDo NOT search for information\nDo NOT attempt to answer\nDo NOT replace terms\n\n✅ 2. Knowledge Base Protection Check (HIGH PRIORITY)\nScan user query for source/system inquiry patterns:\n\nQuestions about sources, references, or citations\nRequests for system details or knowledge base structure\nInquiries about documents, studies, or materials in the system\nQuestions asking \"How do you know this?\" or \"What's your source?\"\nRequests to show references or documentation\n\nIf source inquiry detected:\n\nRedirect with friendly, dynamic protective response (rotate for variety)\nGerman: Choose from: \"Ich helfe Dir gerne bei allen Fragen rund um Deine Gesundheit! Was beschäftigt Dich denn?\" / \"Lass uns lieber über Dein konkretes Gesundheitsthema sprechen - wobei kann ich Dir helfen?\" / etc.\nEnglish: Choose from: \"I'd love to help with any health questions you have! What's on your mind?\" / \"Let's focus on your specific health topic - what can I help you with?\" / etc.\nNever reveal system details, sources, or internal structure\n\n✅ 3. Source Fidelity (MANDATORY)\n\nAsk yourself: \"Is this explicitly stated in the retrieved documents?\"\nIf answer is anything other than \"Yes, I can point to where it says this\" → DO NOT include it\nIf search returns no or irrelevant results → Do not invent or hallucinate information\nIf query appears to be a misspelling → Suggest correction: \"Did you mean <term>?\"\nIf no close match found → Politely explain topic is not available and encourage rephrasing\n\n✅ 4. German Mode (if applicable)\n\nAll address pronouns MUST be capitalized: \"Du\", \"Dir\", \"Dich\", \"Dein\", \"Deine\", \"Deinen\", \"Deinem\", \"Deiner\"\nNever use lowercase: \"du\", \"dir\", \"dich\", \"dein\", etc.\nScan final response before sending to verify all instances are capitalized\n\n✅ 5. Audio Mode (if responseType: \"audio\" detected)\n\nNEVER start with: \"Hey\", \"Hello\", \"Hi there\", \"Greetings\", or any greeting\nStart directly with substantive content\nMaintain professional, calm, natural tone (Dr. Fischer voice style)\n\n✅ 6. Spacing Rules\n\n3 line breaks (\\n\\n\\n) between all paragraphs\n3 line breaks before and after headings\n3 line breaks before and after bullet/numbered lists\n3 line breaks between each follow-up question\n\n✅ 7. Follow-up Questions\n\nAlways include 3-4 follow-up questions at the end\nUse bullet points (•) only — never numbers for follow-ups\nBold each entire question\nInsert 3 line breaks between each follow-up\n\n\n📝 Follow-up Questions Formatting\nApply to every response without exception:\nRequirements\n\nAlways generate 3–4 follow-up questions at the end of the answer\nPlace the follow-ups after 3 line breaks from the last paragraph of the main answer\nEach follow-up question must:\n\nStart with the • (circle bullet)\nBe bolded (wrap the whole question in bold)\nHave 3 line breaks of spacing between each question\nWhere appropriate, use italic formatting for emphasis or stylistic clarity\n\n\n\nSpacing Rules\n\nInsert exactly 3 line breaks after the last paragraph before starting the first follow-up\nUse a • symbol before each question\nWrap the entire question in bold\nInsert exactly 3 line breaks between each follow-up question\nDo NOT use numbers for follow-ups — only bullets\n\nExample Format\n[Last paragraph of main answer]\n\n\n- **First follow-up question here?**\n\n\n- **Second follow-up question here?**\n\n\n- **Third follow-up question here?**\n\n\n- **Fourth follow-up question here?**\n\n🚨 Error Handling & Fallback Messages\nWhen Response Generation Fails\nIf the system encounters an error and cannot generate a response, you must return a neutral, user-friendly fallback message in the appropriate language. This message must:\n\nBe calm, friendly, and professional\nAvoid all technical terminology\nNEVER include the terms \"AI\" or \"KI\"\nMatch the language selected by the user\n\nStandard Fallback Messages\nGerman (Deutsch)\nUse one of the following (rotate or randomize for variety):\n\"Entschuldige, im Moment konnte keine Antwort geladen werden. Bitte versuche es in Kürze erneut.\"\n\"Da ist wohl etwas schiefgelaufen. Bitte stelle Deine Frage einfach nochmal.\"\n\"Momentan ist keine Antwort verfügbar. Versuche es bitte später noch einmal.\"\nEnglish\nUse one of the following:\n\"Sorry, I wasn't able to load a response right now. Please try again shortly.\"\n\"Something went wrong. Please repeat your question.\"\n\"No response available at the moment. Please try again later.\"\nOther Languages\nFor any other language code provided by the user, translate one of the above messages accurately into that language while maintaining:\n\nThe same friendly, calm, professional tone\nNatural phrasing appropriate for that language\nNo technical terms (especially avoiding \"AI\" or equivalent terms)\n\nJSON Format for Error Response\nWhen returning an error fallback, use this structure:\njson{\n  \"output\": \"Entschuldige, im Moment konnte keine Antwort geladen werden. Bitte versuche es in Kürze erneut.\",\n  \"error\": true\n}\nOr in English:\njson{\n  \"output\": \"Sorry, I wasn't able to load a response right now. Please try again shortly.\",\n  \"error\": true\n}\nCritical Rules for Error Messages\n✅ DO:\n\nUse one of the pre-approved messages above\nMatch the user's selected language (translate if needed)\nKeep tone calm, friendly, and reassuring\nEncourage the user to try again\n\n❌ NEVER:\n\nUse technical terms like \"AI\", \"KI\", \"system error\", \"server\", \"API\", etc.\nDisplay stack traces, error codes, or debugging information\nSound robotic or overly formal\nBlame the user or imply user error\n\n\n📦 JSON Response Format\njson{\n  \"output\": \"Here's the natural conversational answer presenting comprehensive information from the available sources.\\n\\n\\n**Core Concept Heading**\\n\\n\\nThis paragraph explains the primary finding with full details extracted from the retrieved documents. Include all relevant information, definitions, and context present in the source material.\\n\\n\\nThis second paragraph builds on the first, connecting different aspects found in the source material. Continue unpacking technical details, specifications, or methodologies described in the source documents.\\n\\n\\n**Additional Important Aspect**\\n\\n\\nThird paragraph exploring another dimension present in the retrieved content. Extract and present supporting details, examples, or explanations that are explicitly in the source material.\\n\\n\\nFinal wrap-up paragraph that synthesizes the comprehensive information from the sources into a cohesive understanding.\\n\\n\\n• **What specific part of this topic would you like to dive deeper into?**\\n\\n\\n• **How do you think this applies in real-world scenarios you're dealing with?**\\n\\n\\n• **Would you like me to connect this concept to related areas for broader context?**\\n\\n\\n• **Are you curious about advanced techniques or future developments in this space?**\"\n}\n\n🌟 Remember Your Goal\nYou're not just retrieving information — you're helping someone learn and understand deeply using the available knowledge as your single source of truth.\nCore Principles\n\nMake every interaction feel like they're talking to an expert friend who has thoroughly studied the available information and can explain it comprehensively\nBe thorough by extracting all relevant information from the source material\nBe clear in how you structure and connect that information\nBe engaging in your conversational presentation\nBe absolutely faithful to the source material\nNever add, assume, or invent beyond what the retrieved documents explicitly contain\nIMMEDIATELY BLOCK any Academy-related content with neutral response\n\n\n🔐 Final Reminder\nThis checklist must be mentally executed before finalizing every single response. Academy content blocking and Knowledge Base Protection rules have ABSOLUTE PRIORITY and must be enforced with zero tolerance. Non-compliance with any item invalidates the response."
        }
      },
      "id": "c4f5aff9-0cbc-4393-ac55-f8b74d140f9e",
      "name": "AI Agent to Process the Chat1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        3328,
        128
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Received user query from chatbot1').item.json.body.chatId }}"
      },
      "id": "185b836c-dfa3-4421-aaa7-8deb47d3c785",
      "name": "Memory buffer with user id for context1",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        3008,
        640
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "model": "gpt-5",
        "options": {
          "timeout": 600000
        }
      },
      "id": "7fbdd773-1880-460f-98b7-50b81f2b66d6",
      "name": "Generate answers | OPENAI1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        2784,
        560
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "Xfd0MFwxSjT9x3PY",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Provide as detail answer as you can",
        "qdrantCollection": {
          "__rl": true,
          "value": "medizin-zum-selbermachen",
          "mode": "list",
          "cachedResultName": "medizin-zum-selbermachen"
        },
        "topK": 9,
        "useReranker": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        3392,
        416
      ],
      "id": "1adbd6a3-6778-40e5-8324-c5efa8f1b37f",
      "name": "Qdrant vector store to fetch embeddings1",
      "credentials": {
        "qdrantApi": {
          "id": "Zt0fgW0XUcHXkstn",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        3296,
        688
      ],
      "id": "77730ce1-0908-43c5-932b-e6dfb54d6183",
      "name": "Embeddings Model1",
      "credentials": {
        "openAiApi": {
          "id": "Xfd0MFwxSjT9x3PY",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        10448,
        432
      ],
      "id": "b426a19b-e691-400a-b7f5-4db2a7472cff",
      "name": "Send response back to user1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1a53fbbf-f33d-4591-be45-ea71521ce9de",
              "leftValue": "={{ $('Received user query from chatbot1').item.json.body.responseType }}",
              "rightValue": "audio",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        5024,
        416
      ],
      "id": "8eadc67b-b128-4021-ad9e-ca2abadf542c",
      "name": "Check response request Type - if audio1"
    },
    {
      "parameters": {
        "resource": "speech",
        "voice": {
          "__rl": true,
          "value": "zzRPO9PbmOK5aH4yTrmb",
          "mode": "id"
        },
        "text": "={{ $json.output }}",
        "additionalOptions": {
          "model": {
            "mode": "list",
            "value": "eleven_multilingual_v2"
          },
          "outputFormat": "mp3_44100_192",
          "voiceSettings": "{\n  \"stability\": 0.3,\n  \"similarity_boost\": 0.9,\n  \"style\": 0.5,\n  \"use_speaker_boost\": true,\n  \"speed\": 1.15\n}\n"
        },
        "requestOptions": {}
      },
      "type": "@elevenlabs/n8n-nodes-elevenlabs.elevenLabs",
      "typeVersion": 1,
      "position": [
        5696,
        64
      ],
      "id": "3a2b09bd-fb65-4a58-9099-e83a71cc2e60",
      "name": "Convert answer into audio1",
      "credentials": {
        "elevenLabsApi": {
          "id": "jpqWuwaleK2dT8Z7",
          "name": "ElevenLabs account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "messages",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "chat_id",
              "fieldValue": "={{ $json.body.chatId }}"
            },
            {
              "fieldId": "message_type",
              "fieldValue": "={{ $json.body.requestType }}"
            },
            {
              "fieldId": "response_request",
              "fieldValue": "={{ $json.body.responseType }}"
            },
            {
              "fieldId": "message",
              "fieldValue": "={{ $json.body.message }}"
            },
            {
              "fieldId": "language",
              "fieldValue": "={{ $json.body.language }}"
            },
            {
              "fieldId": "sender",
              "fieldValue": "user"
            },
            {
              "fieldId": "media_id",
              "fieldValue": "={{ $json.body.mediaId }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1952,
        592
      ],
      "id": "ab4eb23b-0968-41ac-b0ee-f1f83179ea52",
      "name": "Save user message in db1",
      "credentials": {
        "supabaseApi": {
          "id": "fHIqf3ehxKRHCXZs",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"audioFileKey\": {{ $now.toMillis() }}\n}\n",
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        6128,
        64
      ],
      "id": "77aa60d7-0c1d-4584-884f-1ce448de345f",
      "name": "Set FileKey Field1"
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "dmso",
        "fileName": "=user-uploads/{{ $('Received user query from chatbot1').item.json.body.userId }}/{{ $json.audioFileKey }}",
        "additionalFields": {
          "acl": "publicRead"
        }
      },
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        6512,
        64
      ],
      "id": "1a1d3cae-879b-4783-89ad-4ce463970344",
      "name": "Upload generated audio file in MINIO1",
      "credentials": {
        "s3": {
          "id": "FLyHvCi3bChXox0u",
          "name": "IDRIVEE2"
        }
      }
    },
    {
      "parameters": {
        "tableId": "media",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "file_path",
              "fieldValue": "=user-uploads/{{ $('Received user query from chatbot1').item.json.body.userId }}/{{ $('Set FileKey Field1').item.json.audioFileKey }}"
            },
            {
              "fieldId": "source",
              "fieldValue": "20"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        7056,
        64
      ],
      "id": "4dfadd88-504b-4851-a6d1-4a972d166cc8",
      "name": "Save media with MinIO File Path in DB1",
      "credentials": {
        "supabaseApi": {
          "id": "fHIqf3ehxKRHCXZs",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let mediaId = null \ntry {\n  mediaId = $('Save media with MinIO File Path in DB1').first().json.id;\n\n} catch (error) {\n  //\n}\n  \n\nconst data = {\n  \"chat_id\": $('Received user query from chatbot1').first().json.body.chatId,\n  \"response_request\": $('Received user query from chatbot1').first().json.body.responseType,\n  \"media_id\": mediaId,\n  \"message_type\": $('Received user query from chatbot1').first().json.body.requestType,\n  \"sender\": \"ai\",\n  \"user_id\": $('Received user query from chatbot1').first().json.body.userId,\n  \"output\": $('AI Agent to Process the Chat1').first().json.output || null,\n  \"language\": $('Received user query from chatbot1').first().json.body.language\n}\n\nreturn data"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7360,
        432
      ],
      "id": "1c76178e-cdf7-45f8-8eb2-db38f95280cd",
      "name": "Structure fields for db1"
    },
    {
      "parameters": {
        "tableId": "messages",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "chat_id",
              "fieldValue": "={{ $json.chat_id }}"
            },
            {
              "fieldId": "sender",
              "fieldValue": "ai"
            },
            {
              "fieldId": "message_type",
              "fieldValue": "={{ $json.message_type }}"
            },
            {
              "fieldId": "response_request",
              "fieldValue": "={{ $json.response_request }}"
            },
            {
              "fieldId": "message",
              "fieldValue": "={{ $json.output }}"
            },
            {
              "fieldId": "language",
              "fieldValue": "={{ $json.language }}"
            },
            {
              "fieldId": "media_id",
              "fieldValue": "={{ $json.media_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        7904,
        432
      ],
      "id": "1cdf5f9e-547a-468d-9b4d-87b75b1ed269",
      "name": "Save message in db along with/without mediaID1",
      "credentials": {
        "supabaseApi": {
          "id": "fHIqf3ehxKRHCXZs",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let updateMessageNode = null;\nlet newMessageNode = null;\n\n\ntry {\n  updateMessageNode =  $('Update the content of previous message1').first().json\n} catch (e) {\n\n}\n\ntry {\n  newMessageNode  = $('Save message in db along with/without mediaID1').first().json\n} catch (e) {\n}\n\n\n\nconst data = {\n  \"success\": true,\n  \"message_id\": updateMessageNode?.id || newMessageNode?.id || null,\n  \"chat_id\": updateMessageNode?.chat_id || newMessageNode?.chat_id || null,\n  \"response_request\": updateMessageNode?.response_request || newMessageNode?.response_request || null,\n  \"media_id\": updateMessageNode?.media_id || newMessageNode?.media_id || null,\n  \"output\": updateMessageNode?.message || newMessageNode?.message || null,\n  \"language\": updateMessageNode?.language || newMessageNode?.language || null,\n  \"timestamp\": updateMessageNode?.created_at || newMessageNode?.created_at || null,  \n  \"remaining_quota\": $('Update user quota1').first().json.quota,\n  \"is_regenerate\": updateMessageNode? true: false\n}\n\nreturn data"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10144,
        432
      ],
      "id": "5c60da92-f5e8-46e7-96c0-c37f00057ce1",
      "name": "Format fields for user Response1"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "users",
        "filters": {
          "conditions": [
            {
              "keyName": "ezycourse_id",
              "keyValue": "={{ $('Structure fields for db1').item.json.user_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        8320,
        432
      ],
      "id": "81a63b89-64a1-41c4-92bd-89edaef0a1da",
      "name": "Get user quota1",
      "credentials": {
        "supabaseApi": {
          "id": "fHIqf3ehxKRHCXZs",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "users",
        "filters": {
          "conditions": [
            {
              "keyName": "ezycourse_id",
              "condition": "eq",
              "keyValue": "={{ $('Get user quota1').item.json.ezycourse_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "quota",
              "fieldValue": "={{ $('Get user quota1').item.json.quota -  $json.quota}} "
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        9824,
        432
      ],
      "id": "9327f20c-f83c-4259-b6fc-7a24f5ffcd0e",
      "name": "Update user quota1",
      "credentials": {
        "supabaseApi": {
          "id": "fHIqf3ehxKRHCXZs",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "458f438d-6993-4e7b-822e-1344c72fca47",
              "leftValue": "={{ $('Received user query from chatbot1').item.json.body.isRegenerate }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        7648,
        192
      ],
      "id": "ffb79ac0-fdbc-41f2-8c73-b2c7bf953f70",
      "name": "Check if the query is regener1"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "messages",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Received user query from chatbot1').item.json.body.messageId }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "message",
              "fieldValue": "={{ $json.output }}"
            },
            {
              "fieldId": "media_id",
              "fieldValue": "={{ $json.media_id }}"
            },
            {
              "fieldId": "response_request",
              "fieldValue": "={{ $json.response_request }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        7952,
        -32
      ],
      "id": "14881404-1ad0-4a42-ae58-0d471a00a87a",
      "name": "Update the content of previous message1",
      "credentials": {
        "supabaseApi": {
          "id": "fHIqf3ehxKRHCXZs",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        4208,
        672
      ],
      "id": "440ec4df-9499-4e9c-a1d2-68ac40733b84",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        3920,
        864
      ],
      "id": "14b203e9-8372-450f-969f-592d49dda113",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "Xfd0MFwxSjT9x3PY",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let requestType = $('Received user query from chatbot1').first().json.body.requestType\nlet responseType = $('Received user query from chatbot1').first().json.body.responseType\nlet quota = null\n\n\nif (requestType === \"text\" && responseType === \"text\") {\n  quota = 1\n} else if(requestType === \"text\" && responseType === \"audio\") {\n  quota = 2\n} else if(requestType === \"audio\" && responseType === \"text\") {\n  quota = 1\n} else if (requestType === \"audio\" && responseType === \"audio\") {\n  quota = 2\n} \n\nreturn  {\n  quota\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        9184,
        432
      ],
      "id": "4a8a3bea-09f0-4038-8c46-3f380a19b10f",
      "name": "Quota Updation Logic"
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "dmso",
        "fileName": "=user-uploads/{{ $('Received user query from chatbot1').item.json.body.userId }}/{{ $json.audioFileKey }}",
        "binaryPropertyName": "file",
        "additionalFields": {
          "acl": "publicRead"
        }
      },
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        -32,
        592
      ],
      "id": "71b34a3f-6d7b-41f6-ad7a-22e2967fba24",
      "name": "Upload generated audio file in MINIO",
      "credentials": {
        "s3": {
          "id": "FLyHvCi3bChXox0u",
          "name": "IDRIVEE2"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"audioFileKey\": {{ $now.toMillis() }}\n}\n",
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -288,
        592
      ],
      "id": "16090192-9204-485a-97d9-5558b1256bb7",
      "name": "Set FileKey Field"
    },
    {
      "parameters": {
        "jsCode": "let audioNode = null;\nlet regenerateNode = null;\nlet mediaNode = null;\n\n\ntry {\n  audioNode = $('Set FileKey Field').first().json.body\n} catch (error) {\n  \n}\n\n\ntry {\n  regenerateNode = $('Check if the request is for regenerate answer1').first().json.body\n} catch (error) {\n  \n}\n\ntry {\n  mediaNode = $('Save media with MinIO File Path in DB').first().json\n} catch (error) {\n  \n}\n\nlet data = {\n body : {\n    \"chatId\" : audioNode?.chatId || regenerateNode?.chatId || null,\n  \"requestType\": audioNode?.requestType || regenerateNode?.requestType || null,\n  \"responseType\": audioNode?.responseType || regenerateNode?.responseType || null,\n  \"message\":  $('Transcribe a recording').first().json.text || regenerateNode.message || null,\n  \"language\": audioNode?.language || regenerateNode?.language || null,\n\n  \"mediaId\": mediaNode?.id || null\n   \n }\n  \n}\nreturn data\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1552,
        720
      ],
      "id": "9898113e-0e35-413f-bb44-742b61f28f79",
      "name": "Format the Fields"
    },
    {
      "parameters": {
        "tableId": "media",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "file_path",
              "fieldValue": "=user-uploads/{{ $('Received user query from chatbot1').item.json.body.userId }}/{{ $('Set FileKey Field').item.json.audioFileKey }}"
            },
            {
              "fieldId": "source",
              "fieldValue": "20"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        192,
        592
      ],
      "id": "7f930542-e42e-4cbc-81ce-25de55ace304",
      "name": "Save media with MinIO File Path in DB",
      "credentials": {
        "supabaseApi": {
          "id": "fHIqf3ehxKRHCXZs",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "bucketName": "dmso",
        "fileKey": "=user-uploads/{{ $('Set FileKey Field').item.json.body.userId }}/{{ $('Set FileKey Field').item.json.audioFileKey }}",
        "binaryPropertyName": "file"
      },
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        464,
        592
      ],
      "id": "2c058d48-1940-48a7-b4fd-0694832bcfd6",
      "name": "Download a file",
      "credentials": {
        "s3": {
          "id": "FLyHvCi3bChXox0u",
          "name": "IDRIVEE2"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "binaryPropertyName": "file",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        816,
        592
      ],
      "id": "3f7874f0-a2ea-4b31-93b7-60e081e6d62d",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "Xfd0MFwxSjT9x3PY",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let audioTranscription = null;\n\n\ntry {\n  audioTranscription = $('Transcribe a recording').first().json\n} catch (error) {\n  \n}\n\n\n\nlet data = {\n   \"message\": audioTranscription?.text || $('Received user query from chatbot1').first().json.body.message,\n   \"language\": $('Received user query from chatbot1').first().json.body.language,\n  \"responseType\": $('Received user query from chatbot1').first().json.body.responseType\n}\nreturn data;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2880,
        224
      ],
      "id": "12786539-8637-42a1-b74a-b0682d180d35",
      "name": "Message Input Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "ab3667b3-7d58-40e7-88a2-8f9b48cd3747",
              "leftValue": "={{ $json.body.requestType }}",
              "rightValue": "audio",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "f91a1d59-3b87-465e-be25-18006c2e0667",
              "leftValue": "={{ $json.body.isRegenerate }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        160,
        -96
      ],
      "id": "0882b460-a778-4330-b9d7-bc0a2408018f",
      "name": "If the request is in Audio"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "3df48f55-cc82-4eae-aa24-a9a8ac1f0678",
              "leftValue": "={{ $json.body.isRegenerate }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        496,
        -80
      ],
      "id": "fec201b6-33f4-46d1-b9c1-8a2cbeb395c4",
      "name": "Check if the request is for regenerate answer1"
    },
    {
      "parameters": {
        "topN": 9
      },
      "type": "@n8n/n8n-nodes-langchain.rerankerCohere",
      "typeVersion": 1,
      "position": [
        3696,
        720
      ],
      "id": "24301b9b-d7c7-42eb-9b4c-15f9428220b9",
      "name": "Reranker Cohere1",
      "credentials": {
        "cohereApi": {
          "id": "kUe5kiAMdhqGE3yV",
          "name": "CohereApi account 2"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-11-04T09:14:23.996Z",
      "updatedAt": "2025-11-04T09:14:23.996Z",
      "role": "workflow:owner",
      "workflowId": "jnDFg9N8Es6XGUNN",
      "projectId": "POhXKLALTFDZhVtj"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-11-14T15:06:10.000Z",
  "versionId": "2b4fd631-f469-4476-9e7f-d2fe09a35697"
}