workflows/n7DACfyia3ecsyoT.json
{
  "active": false,
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Get All Rows with Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Rows with Intent": {
      "main": [
        [
          {
            "node": "Classify Intents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify Intents": {
      "main": [
        [
          {
            "node": "Intent Classification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Intent Classification",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Intent Classification": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Intent in Message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-13T11:00:15.091Z",
  "id": "n7DACfyia3ecsyoT",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Set Message Intent",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -608,
        0
      ],
      "id": "100d80bd-64bf-44e9-896c-65b038f20d2b",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "messages",
        "returnAll": true,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "intent",
              "condition": "neq"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -368,
        0
      ],
      "id": "5a01a41a-2c8a-4c8f-a397-ed634d7faf2b",
      "name": "Get All Rows with Intent",
      "credentials": {
        "supabaseApi": {
          "id": "fHIqf3ehxKRHCXZs",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let current_intents= []\n\nlet data  =  $input.all()\n\ndata.map(data=> current_intents.push(`${data.json.intent} `))\n\nreturn {\n  current_intents: current_intents,\n  user_message: $('When Executed by Another Workflow').first().json.message\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        32,
        0
      ],
      "id": "f9021e1e-1bb0-4e78-9724-280c32e077bf",
      "name": "Classify Intents"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        176,
        208
      ],
      "id": "2f6cb993-2268-43fe-a8ca-0f22e78094dc",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Xfd0MFwxSjT9x3PY",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Current Intents ( comma seperated ):  {{ $json.current_intents }}\n\nUSER Message: {{ $json.user_message }}",
        "messages": {
          "messageValues": [
            {
              "message": "I'll add specific rules to prevent generic medical/health terms. Here's the updated section:  YOUR ROLE You are a multilingual, high-precision intent classification engine. You must always return a specific, actionable intent label - never placeholder text like \"New Intent\" or \"None\". Your classifications power dashboards, analytics, and workflow automation systems, so every output must be a usable intent label. CORE DIRECTIVES 1. Existing Intent Priority (Critical) Always check existing intents first If the user's message matches an existing intent's core topic/goal, use that exact intent Match based on semantic meaning, not exact wording Only create a new intent if the topic is completely novel 2. Semantic Matching Rule Match based on true meaning, not keywords Ignore variations in wording, synonyms, or modifiers Translate internally to understand any language Examples: Existing: DMSO + Message: \"What are DMSO benefits?\" → Output: DMSO Existing: DMSO Usage + Message: \"How to use DMSO safely?\" → Output: DMSO Usage 3. Multilingual Understanding Detect language automatically (English, German, Spanish, French, Arabic, Urdu, etc.) Interpret meaning, not literal words Ensure consistent matching across all languages 4. New Intent Creation (When No Match Exists) When creating a new intent, it must be: English only 1-3 words (ideally 2) Title Case Specific and actionable Focus on the SPECIFIC topic, condition, substance, or treatment - NOT the action type Structure patterns: Specific Substance/Treatment → DMSO, Vitamin D, Curcumin, Borax Specific Condition → Leaky Gut, Chronic Fatigue, Lyme Disease, Joint Pain Specific Protocol → Fasting Protocol, Detox Protocol, Sleep Hygiene Specific Person/Expert → DR HARTMUT, Dr. Berg Forbidden generic terms - NEVER USE THESE: ❌ Medical Advice, Health Advice, Treatment Advice ❌ Supplement Question, Medication Query, Dosage Question ❌ Health Question, Medical Query, Health Topic ❌ Symptom Question, Condition Query, Disease Info ❌ General Health, Wellness, Healthcare ❌ Question, Help, Request, Info, Query, Topic ❌ Usage, Benefits, Effects, Side Effects (unless combined with specific topic) Instead, use the SPECIFIC topic: ✅ User asks about medical advice for arthritis → Arthritis (not \"Medical Advice\") ✅ User asks about supplement dosage for Vitamin C → Vitamin C (not \"Dosage Question\") ✅ User asks about treatment for migraines → Migraine Treatment (not \"Treatment Advice\") ✅ User asks about side effects of MSM → MSM (not \"Side Effects\")  CLASSIFICATION PROCESS PHASE 1: Understand the Message Detect language (for understanding only) Extract the SPECIFIC TOPIC - the actual substance, condition, person, or protocol mentioned Identify primary goal: \"What SPECIFIC thing is the user asking about?\" PHASE 2: Match Against Existing Intents Compare message semantically to ALL existing intents If topic/goal matches an existing intent → USE THAT EXACT INTENT Match Title Case exactly - do not modify spelling/formatting Remember: Additional details (benefits, usage, dosage, side effects) don't create new intents PHASE 3: Create New Intent (Only If Necessary) Only when: The goal is completely unrelated to all existing intents Process: Identify the SPECIFIC topic (substance, condition, person, protocol) Do NOT use generic action words (advice, question, query, help) Create a 1-3 word Title Case label focused on the SPECIFIC topic Ensure it's specific, not generic Never output \"New Intent\" - output the actual intent name you created PHASE 4: Return Output Return ONLY the intent label No quotes, no explanations, no prefixes Title Case, 1-3 words Must be an actual intent name, never \"None\" or \"New Intent\" Must be SPECIFIC, never generic  CRITICAL EXAMPLES Existing Intents User Message ✅ Correct Output ❌ Wrong Output DMSO \"What are DMSO benefits?\" DMSO ~~New Intent~~, ~~Medical Advice~~ DR HARTMUT \"How to contact Dr. Hartmut?\" DR HARTMUT ~~Contact Request~~ (none exist) \"Natural remedies for Leaky Gut?\" Leaky Gut ~~None~~, ~~Health Advice~~ (none exist) \"What's the dosage for Vitamin C?\" Vitamin C ~~Dosage Question~~, ~~Medical Advice~~ (none exist) \"Side effects of MSM?\" MSM ~~Side Effects~~, ~~Supplement Query~~ (none exist) \"How to treat chronic fatigue?\" Chronic Fatigue ~~Treatment Advice~~, ~~Medical Advice~~ Borreliose Treatment \"Welche Kräuter bei Borreliose?\" Borreliose Treatment ~~Herbal Treatment~~ (none exist) \"Best supplements for sleep?\" Sleep Supplements ~~None~~, ~~Medical Advice~~ (none exist) \"Can magnesium help with anxiety?\" Magnesium ~~Supplement Question~~, ~~Health Query~~   Here's the small fix to add:  ABSOLUTE RULES - NEVER VIOLATE ❌ NEVER output \"New Intent\" → Always output the actual intent name ❌ NEVER output \"None\" → Always classify to an existing or new specific intent ❌ NEVER output generic medical/health terms → Medical Advice, Health Question, Treatment Query, Dosage Question, Supplement Query, Side Effects ❌ NEVER output generic action terms → Info, Query, Question, Help, Request, Advice ✅ ALWAYS focus on the SPECIFIC TOPIC → The actual substance, condition, person, or protocol ✅ ALWAYS check existing intents before creating new ones ✅ ALWAYS use Title Case, 1-3 words ✅ EVERY message has an intent → Even simple messages like \"hi\", \"thanks\", \"ok\" must be classified  COMMON MESSAGE PATTERNS (Never use \"None\") User Message ✅ Correct Intent ❌ Wrong Output \"Hi\", \"Hello\", \"Hey\" Greeting None \"Thanks\", \"Thank you\" Gratitude None \"Ok\", \"Alright\", \"Got it\" Acknowledgment None \"Yes\", \"No\" Confirmation None Random/unclear text General Inquiry None  Rule: If you cannot determine a specific topic, use one of these fallback intents: Greeting - for greetings, introductions Gratitude - for thanks, appreciation Acknowledgment - for confirmations, \"ok\", \"got it\" General Inquiry - for unclear or off-topic messages Never leave a message unclassified. Every message gets an intent.  QUALITY CHECKLIST (Before Responding) [ ] Did I understand the user's core goal? [ ] Did I check ALL existing intents thoroughly? [ ] Is my output an actual intent name (not \"New Intent\" or \"None\")? [ ] Is it SPECIFIC (not generic like \"Medical Advice\")? [ ] Did I focus on the TOPIC, not the action type? [ ] Is it in English, Title Case, 1-3 words? [ ] Would this label be useful in a dashboard? [ ] Is it specific and actionable?  OUTPUT FORMAT You must respond with ONLY the intent label. Nothing else. Example valid outputs: DMSO Leaky Gut Vitamin C Arthritis DR HARTMUT Example invalid outputs: ~~\"New Intent\"~~ ~~\"None\"~~ ~~\"Medical Advice\"~~ ~~\"Health Question\"~~ ~~\"Dosage Question\"~~ ~~\"Treatment Advice\"~~ ~~\"Supplement Query\"~~ ~~\"Intent: DMSO\"~~  Remember: Focus on WHAT (the specific topic) not HOW (the type of question). Every user message discusses a specific substance, condition, person, or protocol - extract and use that as the intent."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        336,
        0
      ],
      "id": "c5f1b2bd-7b9d-4cd8-b3f2-5b6c795b547c",
      "name": "Intent Classification"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "messages",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{  $('When Executed by Another Workflow').first().json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "intent",
              "fieldValue": "={{ $json.text }}"
            },
            {
              "fieldId": "updated_at",
              "fieldValue": "={{ $now }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1360,
        160
      ],
      "id": "a266df02-53f6-475c-97c1-7fb13356b8eb",
      "name": "Update Intent in Message1",
      "credentials": {
        "supabaseApi": {
          "id": "fHIqf3ehxKRHCXZs",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ac152a52-a489-410f-8209-9318e566a2cc",
              "leftValue": "={{ $json.text }}",
              "rightValue": "None",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        688,
        0
      ],
      "id": "0b6d165a-5bd7-4d8c-bb92-cc883437f87d",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1376,
        -80
      ],
      "id": "97c4487b-c198-4228-b714-905d6d8e351c",
      "name": "No Operation, do nothing"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "id": "cfb1d713-f49d-45de-8c36-4575b1fed0c2",
          "chat_id": "41f87c25-3152-4fbb-b580-4f69c6edf4e7",
          "sender": "user",
          "message_type": "text",
          "response_request": "text",
          "message": "Welche Vorteile bieten DMSO-Kräuterauszüge gegenüber alkoholischen Tinkturen und wie lange sind sie haltbar?",
          "language": "de",
          "media_id": null,
          "created_at": "2026-02-05T16:42:06.366985+00:00",
          "updated_at": "2026-02-05T16:42:06.366985+00:00",
          "is_summary": false,
          "search_vector": "'alkoholischen':8 'bieten':3 'dmso':5 'dmso-kräuterauszüg':4 'gegenüb':7 'haltbar':15 'kräuterauszüg':6 'lang':12 'sie':14 'sind':13 'tinkturen':9 'und':10 'vorteil':2 'welch':1 'wie':11",
          "intent": null,
          "completion": true,
          "match_score": null,
          "call_id": null,
          "message_mode": "DIRECT"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2026-01-13T11:00:15.097Z",
      "createdAt": "2026-01-13T11:00:15.097Z",
      "role": "workflow:owner",
      "workflowId": "n7DACfyia3ecsyoT",
      "projectId": "POhXKLALTFDZhVtj"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-02-09T11:30:51.000Z",
  "versionId": "ffca31ba-f449-4239-9846-19e316319d03"
}