workflows/Rl5N0Pqm1oBo56tu.json
{
  "active": true,
  "connections": {
    "Get Call Msgs": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Call Overview": {
      "main": [
        [
          {
            "node": "Add Call Summary to Message Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "Get prettified respose",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get prettified respose": {
      "main": [
        [
          {
            "node": "Create Call Overview",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond": {
      "main": [
        []
      ]
    },
    "Add Call Summary to Message Table": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Update Call Summary Status (Failed)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Call Summary (Completed)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Call Summary Status (Failed)": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Call Summary (Completed)": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-17T15:04:54.586Z",
  "id": "Rl5N0Pqm1oBo56tu",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Generate Call Overview Summary",
  "nodes": [
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1200,
        -80
      ],
      "id": "f8b8f761-e182-4381-a25c-faa0c15af012",
      "name": "Respond"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "get-call-msgs",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -752,
        -80
      ],
      "id": "3b9b5ed3-3c11-4404-8280-903bb7a3cd02",
      "name": "Get Call Msgs",
      "webhookId": "6d36a4c9-373b-4aa7-9d68-dcff2947f8a9"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "=You are an expert conversation analyst who creates natural, flowing summaries of real-time conversations. Your summaries read like a human observer describing what happened during a call between two parties.\n\n## CONVERSATION INPUT\nSummarize this conversation in {{ $json.language }}.\nConversation data: {{JSON.stringify($json.messages)}}\n\n## CRITICAL RULES\n- NEVER use terms like \"AI\", \"assistant\", \"bot\", or any artificial intelligence references\n- Refer to participants by their actual names and \"Praxisinstitut Naturmedizin\"\n- Write as if narrating a real conversation between two people\n- Correct any spelling mistakes, mispronunciations, or transcription errors you notice\n- Always generate the summary in the language specified in the input\n\nONLY ADD MEANINGFULL INFORMATION REMOVE ALL IRRELVANT DATA FOR USER.\n\n## TONE & STYLE GUIDELINES\n- Conversational and natural, like explaining the call to a colleague\n- Professional but approachable\n- Clear and easy to follow\n- No robotic or templated language\n\n## OUTPUT FORMAT\nUse bullet points organized into logical sections:\n- Each bullet point should be a complete, natural sentence\n- Group related points under appropriate headings\n- Make it readable and engaging\n\n## OUTPUT STRUCTURE\nOrganize your summary using these sections as needed:\n\n\nALL HEADING MUST ALSO CONVERT TO {{ $json.language }} LANGUAGE\n\n**Call Opening & Context**\n- [Main topic or purpose of the conversation]\n- [Initial introductions or context setting]\n\n**Key Discussion Points**\n- [Primary topics and themes discussed]\n- [Important details and explanations shared]\n\n**Decisions & Agreements**\n- [Any decisions made during the call]\n- [Agreements or commitments established]\n\n**Next Steps & Follow-up**\n- [Action items identified]\n- [Follow-up plans or future meetings scheduled]\n\n## FALLBACK RESPONSE\nIf there is insufficient data to generate a meaningful summary, simply respond: \"There is no sufficient data to generate summary\""
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        32,
        -80
      ],
      "id": "a972949f-dc2a-40ee-a199-53df75614eec",
      "name": "Create Call Overview",
      "credentials": {
        "openAiApi": {
          "id": "Xfd0MFwxSjT9x3PY",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "call_messages",
        "filters": {
          "conditions": [
            {
              "keyName": "call_id",
              "condition": "eq",
              "keyValue": "={{ $json.body.call_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -480,
        -80
      ],
      "id": "12521670-798c-472d-8cb5-644304a5ddbb",
      "name": "Get many rows",
      "alwaysOutputData": false,
      "credentials": {
        "supabaseApi": {
          "id": "fHIqf3ehxKRHCXZs",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get all incoming items from supbase\nconst items = $input.all();\n\n// Building a single object\nreturn [\n  {\n    json: {\n      call_id: items[0].json.call_id,\n      chat_id: items[0].json.chat_id,\n      language: $('Get Call Msgs').first().json.body.language,\n      messages: items.map(i => ({\n        msg: i.json.message || \"\",\n        sender: i.json.sender === 'ai' ? 'Praxisinstitut Naturmedizin' : i.json.sender || \"\"\n      }))\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -224,
        -80
      ],
      "id": "e12eb0d8-7fa3-4885-805f-fab6f1cc24a5",
      "name": "Get prettified respose"
    },
    {
      "parameters": {
        "tableId": "messages",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "chat_id",
              "fieldValue": "={{ $('Get prettified respose').item.json.chat_id }}"
            },
            {
              "fieldId": "message_type",
              "fieldValue": "text"
            },
            {
              "fieldId": "response_request",
              "fieldValue": "text"
            },
            {
              "fieldId": "message",
              "fieldValue": "={{ $json.output[0].content[0].text }}"
            },
            {
              "fieldId": "language",
              "fieldValue": "={{ $('Get prettified respose').item.json.language }}"
            },
            {
              "fieldId": "sender",
              "fieldValue": "ai"
            },
            {
              "fieldId": "is_summary",
              "fieldValue": "TRUE"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        400,
        -80
      ],
      "id": "af7f6cd2-975e-4595-8119-ef8264552323",
      "name": "Add Call Summary to Message Table",
      "credentials": {
        "supabaseApi": {
          "id": "fHIqf3ehxKRHCXZs",
          "name": "Supabase account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "594ff0f5-dfa5-4f50-b3f5-71c54e61f3c7",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        624,
        -80
      ],
      "id": "49a1867e-ff88-4305-8f06-529b95577fe6",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "calls",
        "filters": {
          "conditions": [
            {
              "keyName": "call_id",
              "condition": "eq",
              "keyValue": "={{ $('Get prettified respose').item.json.call_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "30"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        912,
        -240
      ],
      "id": "6c2bbe1a-f0d6-4edb-94a9-ee54987d8e89",
      "name": "Update Call Summary Status (Failed)",
      "credentials": {
        "supabaseApi": {
          "id": "fHIqf3ehxKRHCXZs",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "calls",
        "filters": {
          "conditions": [
            {
              "keyName": "call_id",
              "condition": "eq",
              "keyValue": "={{ $('Get prettified respose').item.json.call_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "20"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        912,
        48
      ],
      "id": "9b32bb04-d049-4f89-a676-00c4fd083298",
      "name": "Update Call Summary (Completed)",
      "credentials": {
        "supabaseApi": {
          "id": "fHIqf3ehxKRHCXZs",
          "name": "Supabase account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-11-17T15:04:54.594Z",
      "createdAt": "2025-11-17T15:04:54.594Z",
      "role": "workflow:owner",
      "workflowId": "Rl5N0Pqm1oBo56tu",
      "projectId": "POhXKLALTFDZhVtj"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-12-16T12:54:43.000Z",
  "versionId": "262b53e7-e46f-4448-a5c2-6e92f2b4c4f1"
}