workflows/Rl5N0Pqm1oBo56tu.json
{
  "active": true,
  "connections": {
    "Get Call Msgs": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Call Overview": {
      "main": [
        [
          {
            "node": "Add Call Summary to Message Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "Get prettified respose",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get prettified respose": {
      "main": [
        [
          {
            "node": "Create Call Overview",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond": {
      "main": [
        []
      ]
    },
    "Add Call Summary to Message Table": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Update Call Summary Status (Failed)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Call Summary (Completed)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Call Summary Status (Failed)": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Call Summary (Completed)": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-17T15:04:54.586Z",
  "id": "Rl5N0Pqm1oBo56tu",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Generate Call Overview Summary",
  "nodes": [
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1200,
        -80
      ],
      "id": "f8b8f761-e182-4381-a25c-faa0c15af012",
      "name": "Respond"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "get-call-msgs",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -752,
        -80
      ],
      "id": "3b9b5ed3-3c11-4404-8280-903bb7a3cd02",
      "name": "Get Call Msgs",
      "webhookId": "6d36a4c9-373b-4aa7-9d68-dcff2947f8a9"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "=You are an expert conversation analyst who creates natural, flowing summaries of real-time conversations. Your summaries read like a human observer describing what happened during a call between two parties.\n\nCRITICAL RULES:\n- NEVER use terms like \"AI\", \"assistant\", \"bot\", or any artificial intelligence references\n- Refer to participants by their actual names: \"User\" and \"Praxisinstitut Naturmedizin\"\n- Write as if narrating a real conversation between two people\n- Correct any spelling mistakes, mispronunciations, or transcription errors you notice\n- Always generate the summary in this language: the language specified in the input\n\nTONE & STYLE:\n- Conversational and natural, like explaining the call to a colleague\n- Professional but approachable\n- Clear and easy to follow\n- No robotic or templated language\n\nFORMAT:\n- Use bullet points for key conversation highlights and topics discussed\n- Each bullet point should be a complete, natural sentence\n- Group related points logically\n- Make it readable and engaging\n- If there is insufficient data to generate a meaningful summary, simply respond: \"There is no sufficient data to generate summary\"\n\nOUTPUT STRUCTURE:\n- [Main topic or opening of conversation]\n- [Key points discussed during the call]\n- [Important decisions, agreements, or outcomes]\n- [Next steps or follow-up items if mentioned]"
            },
            {
              "content": "=Summarize this conversation between User and Praxisinstitut Naturmedizin in {{ $json.language }}.\n\nConversation data:\n{{JSON.stringify($json.messages)}}\n\nWrite a detailed, natural summary that captures the entire flow of the call. Describe it as if you witnessed the conversation yourself:\n\nStart by explaining what brought the User to the conversation and what they needed. Then describe how Praxisinstitut Naturmedizin responded and what information or guidance was provided. Walk through the key topics that came up, any questions asked and answered, and important details shared.\n\nIf there were any spelling errors, mispronunciations, or unclear phrases in the original messages, correct them naturally in your summary. Write in clear paragraphs, using line breaks between different topics or phases of the conversation.\n\nMake it read like a human telling another human about a call that just happened - natural, clear, and easy to follow. Never use terms like \"AI\" or \"assistant\" - these are two real parties having a conversation: User and Praxisinstitut Naturmedizin."
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        32,
        -80
      ],
      "id": "a972949f-dc2a-40ee-a199-53df75614eec",
      "name": "Create Call Overview",
      "credentials": {
        "openAiApi": {
          "id": "Xfd0MFwxSjT9x3PY",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "call_messages",
        "filters": {
          "conditions": [
            {
              "keyName": "call_id",
              "condition": "eq",
              "keyValue": "={{ $json.body.call_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -480,
        -80
      ],
      "id": "12521670-798c-472d-8cb5-644304a5ddbb",
      "name": "Get many rows",
      "alwaysOutputData": false,
      "credentials": {
        "supabaseApi": {
          "id": "fHIqf3ehxKRHCXZs",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get all incoming items from supbase\nconst items = $input.all();\n\n// Building a single object\nreturn [\n  {\n    json: {\n      call_id: items[0].json.call_id,\n      chat_id: items[0].json.chat_id,\n      language: $('Get Call Msgs').first().json.body.language,\n      messages: items.map(i => ({\n        msg: i.json.message || \"\",\n        sender: i.json.sender === 'ai' ? 'Praxisinstitut Naturmedizin' : i.json.sender || \"\"\n      }))\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -224,
        -80
      ],
      "id": "e12eb0d8-7fa3-4885-805f-fab6f1cc24a5",
      "name": "Get prettified respose"
    },
    {
      "parameters": {
        "tableId": "messages",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "chat_id",
              "fieldValue": "={{ $('Get prettified respose').item.json.chat_id }}"
            },
            {
              "fieldId": "message_type",
              "fieldValue": "text"
            },
            {
              "fieldId": "response_request",
              "fieldValue": "text"
            },
            {
              "fieldId": "message",
              "fieldValue": "={{ $json.output[0].content[0].text }}"
            },
            {
              "fieldId": "language",
              "fieldValue": "={{ $('Get prettified respose').item.json.language }}"
            },
            {
              "fieldId": "sender",
              "fieldValue": "ai"
            },
            {
              "fieldId": "is_summary",
              "fieldValue": "TRUE"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        400,
        -80
      ],
      "id": "af7f6cd2-975e-4595-8119-ef8264552323",
      "name": "Add Call Summary to Message Table",
      "credentials": {
        "supabaseApi": {
          "id": "fHIqf3ehxKRHCXZs",
          "name": "Supabase account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "594ff0f5-dfa5-4f50-b3f5-71c54e61f3c7",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        624,
        -80
      ],
      "id": "49a1867e-ff88-4305-8f06-529b95577fe6",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "calls",
        "filters": {
          "conditions": [
            {
              "keyName": "call_id",
              "condition": "eq",
              "keyValue": "={{ $('Get prettified respose').item.json.call_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "30"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        912,
        -240
      ],
      "id": "6c2bbe1a-f0d6-4edb-94a9-ee54987d8e89",
      "name": "Update Call Summary Status (Failed)",
      "credentials": {
        "supabaseApi": {
          "id": "fHIqf3ehxKRHCXZs",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "calls",
        "filters": {
          "conditions": [
            {
              "keyName": "call_id",
              "condition": "eq",
              "keyValue": "={{ $('Get prettified respose').item.json.call_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "20"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        912,
        48
      ],
      "id": "9b32bb04-d049-4f89-a676-00c4fd083298",
      "name": "Update Call Summary (Completed)",
      "credentials": {
        "supabaseApi": {
          "id": "fHIqf3ehxKRHCXZs",
          "name": "Supabase account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-11-17T15:04:54.594Z",
      "createdAt": "2025-11-17T15:04:54.594Z",
      "role": "workflow:owner",
      "workflowId": "Rl5N0Pqm1oBo56tu",
      "projectId": "POhXKLALTFDZhVtj"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-12-01T13:26:49.000Z",
  "versionId": "248db4f4-585a-4b48-a3dc-8494f7249dcb"
}