workflows/tykxZ0AcdrWj4dCR.json
{
  "active": false,
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Calculating Match Rate Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Calculating Match Rate Score",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Calculating Match Rate Score": {
      "main": [
        [
          {
            "node": "Update Match Rate in DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-13T14:42:11.253Z",
  "id": "tykxZ0AcdrWj4dCR",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Update the Match Rate",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -416,
        0
      ],
      "id": "bf9f7970-c538-47f6-b982-06e86cb6e757",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -176,
        224
      ],
      "id": "17913d3e-aa60-4db4-b610-ad0a7ea667d0",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Xfd0MFwxSjT9x3PY",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=USER MESSAGE: {{ $json.user_message }} , \n\n\nAI AGENT REPLY : {{ $json.ai_reply }}",
        "messages": {
          "messageValues": [
            {
              "message": "MATCH-SCORE EVALUATOR SYSTEM PROMPT – HEALTHCARE CHATBOT ROLE  You are a neutral, high-precision evaluator for a healthcare chatbot. Your task is to analyze whether the AI response fully satisfies the user’s primary intent or goal. You must remain impartial, objective, and strictly follow semantic understanding. You are not generating answers, only evaluating them.  INPUTS  You will receive:  User Message: The text of the user’s query or statement (any language).  AI Response: The text of the AI-generated reply (any language).  Always evaluate based on the user’s intent, not keywords or phrasing. Consider the meaning, goal, and expected action.  OUTPUT  Return ONLY a numeric score from 0.00 to 1.00, no text, quotes, or explanations.  Score represents how well the AI response satisfies the user’s primary intent.  Scoring Guide:  Score\tMeaning 1.00\tPerfect match. AI fully addresses the user’s intent and provides accurate, helpful, and safe information. 0.75\tMostly correct. AI addresses main intent with minor gaps or omissions, response is accurate and safe. 0.50\tPartial match. AI provides some relevant information but misses important aspects of the intent or is incomplete. 0.25\tPoor match. AI is mostly off-topic, vague, or contains inaccuracies. 0.00\tNo match. AI fails to address the user’s intent, provides irrelevant or unsafe information. EVALUATION PRINCIPLES  Semantic Understanding  Understand the true meaning and goal of the user’s message.  Do not rely on keywords or superficial matches.  Translate mentally if the message is in another language.  Relevance  Consider whether the AI addresses the user’s goal, not just related topics.  Partial responses should receive lower scores proportionally.  Accuracy & Safety  Medical accuracy is critical. Incorrect, unsafe, or potentially harmful responses must reduce the score, even if partially relevant.  Safe and accurate responses that miss minor details get slightly lower but reasonable scores.  Actionability  Evaluate whether the response provides actionable guidance or solves the user’s problem.  Multilingual & Cross-Cultural  Evaluate messages in any language. Understand the semantic intent regardless of language.  Deterministic Scoring  Score must be consistent and reproducible.  Always use temperature=0 when generating the score.  Single-turn vs Multi-turn Context  Evaluate only the given AI response relative to the user message provided.  If conversation history is supplied, incorporate context to judge relevance.  RESPONSE CONSTRAINTS  Return only a number between 0.00 and 1.00.  No text, labels, or additional explanation.  Round to two decimal places if needed (e.g., 0.75, 0.50).  Example Evaluations:  User: \"What are the benefits of DMSO?\" AI: \"DMSO can reduce inflammation and improve healing.\" → 1.00  User: \"How do I treat Leaky Gut?\" AI: \"DMSO is sometimes used.\" → 0.50  User: \"Can I use DMSO for my pet?\" AI: \"Leaky Gut can be treated with diet.\" → 0.25  QUALITY ASSURANCE CHECKLIST  Before returning the score:  ✓ Did I fully understand the user’s intent?  ✓ Did I assess whether the AI response fulfilled that intent?  ✓ Did I consider accuracy, safety, relevance, and actionability?  ✓ Am I returning only a numeric value?  IMPORTANT REMINDERS  Never invent information or generate answers. Only score the AI response.  Do not allow language, tone, or formatting to bias the score.  For medical content, safety and correctness take precedence over completeness.  Use the scoring table strictly; do not assign approximate qualitative labels like “good” or “acceptable” in the output.  FINAL OUTPUT FORMAT  0.00–1.00   Example:  0.75   Nothing else. No text, quotes, or explanations."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -64,
        0
      ],
      "id": "64bb228c-99bb-412e-9064-fd6a5f74e4d6",
      "name": "Calculating Match Rate Score"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "messages",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('When Executed by Another Workflow').item.json.message_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "match_score",
              "fieldValue": "={{ $json.text }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        288,
        0
      ],
      "id": "67aab5be-9209-411d-9be9-4a1dde61d74f",
      "name": "Update Match Rate in DB",
      "credentials": {
        "supabaseApi": {
          "id": "fHIqf3ehxKRHCXZs",
          "name": "Supabase account"
        }
      }
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "message_id": "2290b911-7129-4f3c-bbc6-b9b558b457b9",
          "chat_id": "13d137ce-3545-47c1-ae29-a5f304018257",
          "ai_reply": "Ich habe einige interessante Informationen über die verschiedenen Konzentrationen von DMSO (Dimethylsulfoxid) gefunden, die möglicherweise nützlich für Dich sein könnten.\n\n\n**Gängige Anwendungen und Konzentrationen von DMSO**\n\n\nIn der Welt der medizinischen und kosmetischen Anwendungen kann DMSO in verschiedenen Konzentrationen verwendet werden, je nach spezifischen Einsatzgebieten. Hier sind einige Beispiele:\n\n\n1. **1 % Konzentration:** Wird oft in Inhalationslösungen verwendet.\n\n2. **3 % Konzentration:** Üblich in Augentropfen und Infusionslösungen. Für Infusionen findet man häufig eine Konzentration zwischen 1,5 % und 3 %, was aus der Mischung von DMSO in größeren Flüssigkeitsvolumina resultiert.\n\n3. **10 % Konzentration:** Zu kosmetischen Zwecken, wie in Gesichtswassern, genutzt.\n\n4. **15 % Konzentration:** Häufig für Einläufe, Ohren- und Nasentropfen, wie auch für Mundspülungen und zur Behandlung von frischen Operationsnarben verwendet. Auch kommen solche Konzentrationen in steriler Form für Injektionen (intramuskulär oder subkutan) zum Einsatz.\n\n5. **30 % Konzentration:** Für äußerliche Anwendungen auf empfindlicher Haut, wie Rumpf, Hals und Kopf.\n\n6. **50 % Konzentration:** Verwendet für Blasenspülungen.\n\n7. **60 % Konzentration:** Wird bei äußerlichen Anwendungen gegen Schmerzen am Bewegungsapparat, für Füße, Hände, Beine, bei Verbrennungen und Blutergüssen eingesetzt.\n\n8. **100 % Konzentration:** In reiner Form oder als Applikation bei Aphthen, Herpesbläschen, Nagelpilz und Warzen (direktes Betupfen mit Holzwattestäbchen).\n\n\n**Spezielle Anmerkungen zur Sicherheit und Verwendung**\n\n\nDMSO ist nicht krebserregend, mutagen oder ein Reproduktionstoxin. Es ist zudem gut untersucht und dokumentiert in Bezug auf seine Absorption, Verteilung, seinen Metabolismus und die Ausscheidung im Körper.\n\n\n• **Möchtest Du mehr darüber erfahren, wie man DMSO sicher anwendet?**\n\n\n• **Interessiert Dich, welche Vorteile DMSO im kosmetischen Bereich hat?**\n\n\n• **Möchtest Du mehr über mögliche Nebenwirkungen von DMSO wissen?**\n\n\n• **Bist Du neugierig darauf, wie DMSO in der modernen Medizin eingesetzt wird?**",
          "language": "de",
          "user_message": "concentrations of dmso? \n"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2026-01-13T14:42:11.260Z",
      "createdAt": "2026-01-13T14:42:11.260Z",
      "role": "workflow:owner",
      "workflowId": "tykxZ0AcdrWj4dCR",
      "projectId": "POhXKLALTFDZhVtj"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-01-15T13:45:07.000Z",
  "versionId": "65ac054e-5408-489a-a519-38051eed86c4"
}