workflows/v9redZmE5HUCCraX.json
{
  "active": false,
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Split Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Sources": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Get document by File ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get document by File ID": {
      "main": [
        [
          {
            "node": "Check if document already queried",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if document already queried": {
      "main": [
        [
          {
            "node": "Create new entry",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update existing media with File ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create new entry": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update existing media with File ID": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-15T07:38:20.705Z",
  "id": "v9redZmE5HUCCraX",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Record Queried Document in the Database",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -224,
        -32
      ],
      "id": "cb2062f2-d084-4b95-ac45-fab8b3f744f1",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "jsCode": "let data = [];\n\ntry {\n    const input = $input?.first()?.json?.output?.sources;\n\n    if (input && Array.isArray(input)) {\n        data = input.map(item => ({\n            json: { source: item }\n        }));\n    }\n} catch (error) {\n    console.error(\"Error in processing sources:\", error);\n}\n\nreturn data;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -16,
        -32
      ],
      "id": "2469116b-b5c9-4a20-9d09-bef5aaa3e21e",
      "name": "Split Sources"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        272,
        -32
      ],
      "id": "edc761e4-cbe8-4dd0-8bf5-f60c74136281",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "query_documents",
        "filters": {
          "conditions": [
            {
              "keyName": "file_id",
              "keyValue": "={{ $json.source.file_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        560,
        -16
      ],
      "id": "fedc20ba-eda4-47d6-b8fe-8ebf731bcec6",
      "name": "Get document by File ID",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "fHIqf3ehxKRHCXZs",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "33167779-66ca-459f-8cea-4525eca6b90e",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        896,
        -16
      ],
      "id": "2cb138ec-1727-489a-a504-2ee395c8da1e",
      "name": "Check if document already queried"
    },
    {
      "parameters": {
        "tableId": "query_documents",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "name",
              "fieldValue": "={{ $('Loop Over Items').item.json.source.name }}"
            },
            {
              "fieldId": "file_id",
              "fieldValue": "={{ $('Loop Over Items').item.json.source.file_id }}"
            },
            {
              "fieldId": "retrieval_count",
              "fieldValue": "1"
            },
            {
              "fieldId": "updated_at",
              "fieldValue": "={{ $now }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1360,
        -144
      ],
      "id": "dffe7056-ceab-4fe8-9d10-e1deaa8b01c8",
      "name": "Create new entry",
      "credentials": {
        "supabaseApi": {
          "id": "fHIqf3ehxKRHCXZs",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "query_documents",
        "filters": {
          "conditions": [
            {
              "keyName": "file_id",
              "condition": "eq",
              "keyValue": "={{ $json.file_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "retrieval_count",
              "fieldValue": "={{ $json.retrieval_count + 1 }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1360,
        0
      ],
      "id": "45818060-0c40-4ec6-8a75-06dc317aa8c9",
      "name": "Update existing media with File ID",
      "credentials": {
        "supabaseApi": {
          "id": "fHIqf3ehxKRHCXZs",
          "name": "Supabase account"
        }
      }
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "output": {
            "sources": [
              {
                "file_name": "E-Book-DMSO-Co.-Medizin-zum-Selbermachen_dritte-Auflage_Einzelseiten.pdf",
                "file_id": "d97b9dec-9c91-48c0-b169-675d2fd8eede"
              }
            ],
            "answer": "Dr. Hartmut Fischer has extensively discussed the use of DMSO in his work \"Medizin zum Selbermachen mit DMSO & Co.\" In his protocols, Dr. Fischer provides guidance on the practical applications and dosing of DMSO for both internal and external use.\n\n\n**Key Aspects of Dr. Fischer's DMSO Protocols:**\n\n1. **Internal/Oral Application:** Dr. Fischer's recommendations include specific dosages and application forms when DMSO is used internally. He advises on a structured approach to dosing, often referred to as a \"kurmäßige\" (cure-like) regimen, which is common in treatments aiming for long-term benefits.\n\n2. **External Local Application:** For external use, Dr. Fischer provides detailed dosage instructions to maximize the anti-inflammatory effects of DMSO. This application is particularly emphasized for its efficacy in localized treatment of inflammation, making it a popular choice in sports medicine and personal health routines.\n\n3. **Holistic Use and Benefits:** Dr. Fischer advocates for the integration of DMSO into more comprehensive health approaches, especially for those engaged in active or demanding lifestyles. It supports overall cellular health, further strengthening its role in alternative medicine practices.\n\n\nThese insights illustrate the structured and holistic methodology Dr. Fischer employs in advocating for DMSO's use, ensuring it is both safe and effective for various therapeutic applications."
          }
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2026-01-15T07:38:20.712Z",
      "createdAt": "2026-01-15T07:38:20.712Z",
      "role": "workflow:owner",
      "workflowId": "v9redZmE5HUCCraX",
      "projectId": "POhXKLALTFDZhVtj"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-01-20T15:28:31.000Z",
  "versionId": "ed57a066-fd52-4f92-a9bb-33dd37a57534"
}