workflows/v9redZmE5HUCCraX.json
{
  "active": false,
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Split Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Sources": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Execution Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get document by File ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get document by File ID": {
      "main": [
        [
          {
            "node": "Check if document already queried",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if document already queried": {
      "main": [
        [
          {
            "node": "Create new entry",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update existing media with File ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create new entry": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update existing media with File ID": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-15T07:38:20.705Z",
  "id": "v9redZmE5HUCCraX",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Record Queried Document in the Database",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -224,
        -32
      ],
      "id": "cb2062f2-d084-4b95-ac45-fab8b3f744f1",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "jsCode": "let data = [];\n\ntry {\n    const input = $input?.first()?.json?.output?.sources;\n\n    if (input && Array.isArray(input)) {\n        data = input.map(item => ({\n            json: { source: item }\n        }));\n    }\n} catch (error) {\n    console.error(\"Error in processing sources:\", error);\n}\n\nreturn data;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -16,
        -32
      ],
      "id": "2469116b-b5c9-4a20-9d09-bef5aaa3e21e",
      "name": "Split Sources"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        272,
        -32
      ],
      "id": "edc761e4-cbe8-4dd0-8bf5-f60c74136281",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "query_documents",
        "filters": {
          "conditions": [
            {
              "keyName": "file_id",
              "keyValue": "={{ $json.source.file_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        560,
        -16
      ],
      "id": "fedc20ba-eda4-47d6-b8fe-8ebf731bcec6",
      "name": "Get document by File ID",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "fHIqf3ehxKRHCXZs",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "33167779-66ca-459f-8cea-4525eca6b90e",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        896,
        -16
      ],
      "id": "2cb138ec-1727-489a-a504-2ee395c8da1e",
      "name": "Check if document already queried"
    },
    {
      "parameters": {
        "tableId": "query_documents",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "name",
              "fieldValue": "={{ $('Loop Over Items').item.json.source.file_name }}"
            },
            {
              "fieldId": "file_id",
              "fieldValue": "={{ $('Loop Over Items').item.json.source.file_id }}"
            },
            {
              "fieldId": "retrieval_count",
              "fieldValue": "1"
            },
            {
              "fieldId": "updated_at",
              "fieldValue": "={{ $now }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1360,
        -144
      ],
      "id": "dffe7056-ceab-4fe8-9d10-e1deaa8b01c8",
      "name": "Create new entry",
      "credentials": {
        "supabaseApi": {
          "id": "fHIqf3ehxKRHCXZs",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "query_documents",
        "filters": {
          "conditions": [
            {
              "keyName": "file_id",
              "condition": "eq",
              "keyValue": "={{ $json.file_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "retrieval_count",
              "fieldValue": "={{ $json.retrieval_count + 1 }}"
            },
            {
              "fieldId": "name",
              "fieldValue": "={{ $('Loop Over Items').item.json.source.file_name }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1360,
        0
      ],
      "id": "45818060-0c40-4ec6-8a75-06dc317aa8c9",
      "name": "Update existing media with File ID",
      "credentials": {
        "supabaseApi": {
          "id": "fHIqf3ehxKRHCXZs",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1.1,
      "position": [
        576,
        -208
      ],
      "id": "ece33365-8b60-4303-8135-4e6e8536e5bc",
      "name": "Execution Data"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "output": {
            "sources": [
              {
                "file_name": "DMSO & Co - Practitioner - 7-XX | Bonus ⧸ PDF mit DMSO & Co Einsatzbereichen ⧸ DMSO Einsatzbereiche-01-23.pdf",
                "file_id": "295478b0-b0a2-46d4-a72f-2bdb2596ece9"
              },
              {
                "file_name": "E-Book-DMSO-Co.-Medizin-zum-Selbermachen_dritte-Auflage_Einzelseiten.pdf",
                "file_id": "d97b9dec-9c91-48c0-b169-675d2fd8eede"
              }
            ],
            "answer": "Hier sind einige interessante Informationen über DMSO aus den verfügbaren Dokumenten.\n\n\n**Einsatzbereiche von DMSO**\n\n\nDMSO (Dimethylsulfoxid) wird in verschiedenen Einsatzbereichen genutzt, die sowohl medizinische als auch nicht-medizinische Anwendungen umfassen können. In den Dokumenten wird beschrieben, dass DMSO-Mischungen vielseitig verwendet werden können. Eines der Dokumente hebt hervor, dass es in der alternativen Medizin verwendet wird und verschiedene Anwendungen zur Selbstmedikation unterstützt.\n\n\n**DMSO in der Alternativmedizin**\n\n\nDie Mischungen von DMSO werden oft für ihren angeblichen gesundheitlichen Nutzen hervorgehoben. Dabei gibt es jedoch auch Abgrenzungen zwischen DMSO selbst und \"DMSO Emulsionen\", die spezifische Anwendungsfälle betreffen. Diese Emulsionen bieten möglicherweise einen anderen Nutzen oder ein anderes Profil als das reine DMSO.\n\n\n\\-\\-\\-\n\nDie genannten Anwendungen zeigen, dass DMSO in unterschiedlichen Bereichen seinen Einsatz findet. Wenn Du mehr über spezifische Anwendungsbereiche oder Dosierungen erfahren möchtest, lass es mich wissen!\n\n\n- **Möchtest Du mehr über die gesundheitlichen Vorteile von DMSO erfahren?**\n\n\n- **Interessierst Du Dich für die genaue Herstellung von DMSO-Mischungen?**\n\n\n- **Möchtest Du die Unterschiede zwischen DMSO und anderen Substanzen kennenlernen?**\n\n\n- **Hast Du Fragen zu spezifischen Anwendungen von DMSO in der alternativen Medizin?**"
          }
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2026-01-15T07:38:20.712Z",
      "createdAt": "2026-01-15T07:38:20.712Z",
      "role": "workflow:owner",
      "workflowId": "v9redZmE5HUCCraX",
      "projectId": "POhXKLALTFDZhVtj"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-02-09T08:08:00.000Z",
  "versionId": "fc5e2130-e4cf-4f10-84e8-077f908f1719"
}